<%= form_tag(account_lookups_path, method: :get ) do %>
  <li><%= text_field_tag :query, params[:query]  %></li>
  <li><%= submit_tag 'Search', name: nil, class:"btn btn-defaul" %></li>
<% end %>

<% if params[:query].present? %>
  <div class="row">
    <% if @pg_search_documents.blank? %>
      <p>nada</p>
    <% else %>
      <% @pg_search_documents.each do |pg_search_document| %>
        <% if pg_search_document.searchable.respond_to?(:title) %>
          <h4>Project: </h4> <%= pg_search_document.searchable.title %>
        <% else %>
          <h4>Item: </h4> <%= pg_search_document.searchable.name %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
