<div class="books-search">
  <%= form_tag lookups_path, method: :get do %>
    <%= text_field_tag 'term', params[:term], id: "books-search-txt" %>

    <%= submit_tag 'Search!', name: nil %>
    <div class="results" id="books-search-results"></div>
  <% end %>
</div>

<br>
<ul>
  <% @projects.each do |project| %>
    <% if project.respond_to?(:pg_search_highlight) %>
      <%= project.pg_search_highlight.html_safe %>
    <% else %>
      <%= project.title %>
    <% end %>
  <% end %>
</ul>

<script>
  $(function() {
    new app.Lookups;
  });
</script>
