<%= form_tag(account_lookups_path, method: :get ) do %>
  <li><%= text_field_tag :query, params[:query]  %></li>
  <li><%= submit_tag 'Search', name: nil, class:"btn btn-defaul" %></li>
<% end %>

<% if params[:query].present? %>
  <div class="row">
    <% if @pg_search_documents.blank? %>
      <p>nada</p>
    <% else %>
      <% @pg_search_documents.each do |pg_search_document| %>
        <% if pg_search_document.searchable.respond_to?(:title) %>
            <% if current_user.id == pg_search_document.searchable.user_id %>
              <h4>Project: </h4> <%= link_to pg_search_document.searchable.title, [current_account, pg_search_document.searchable] %>
            <% end %>
        <% elsif pg_search_document.searchable.class == Item %>
          <h4>Item: </h4> <%= link_to pg_search_document.searchable.name, [current_account, pg_search_document.searchable.project, pg_search_document.searchable] %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
