<br>
<br>
<br>

<h1 class="text-center">Search</h1>
<div class="row">
  <div class="formly text-center">
    <%= form_tag(account_lookups_path, method: :get ) do %>
      <div class="control">
        <%= text_field_tag :query, params[:query], class:"input"  %>
      </div>
      <br>
      <div class="control">
        <li><%= submit_tag 'Search', name: nil, class:"btn btn-default btn-lg" %></li>
      </div>
    <% end %>
  </div>

  <% if params[:query].present? %>
    <div class="row">
      <div class="formly">
        <% if @pg_search_documents.blank? %>
          <h2>nada</h2>
        <% else %>
          <% @pg_search_documents.each do |pg_search_document| %>
            <% if pg_search_document.searchable.respond_to?(:title) %>
                <% if current_user.id == pg_search_document.searchable.user_id %>
                  <h4>Project: </h4> <%= link_to pg_search_document.searchable.title, [current_account, pg_search_document.searchable] %>
                <% end %>
            <% elsif pg_search_document.searchable.class == Item %>
              <h4>Item: </h4> <%= link_to pg_search_document.searchable.name, [current_account, pg_search_document.searchable.project, pg_search_document.searchable] %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
