<%= form_tag lookups_path, method: :get do %>
  <%= text_field_tag 'term', params[:term], placeholder: "Enter user's name or surname" %>
  <%= submit_tag 'Search!' %>
<% end %>


<br>
<ul>
  <% @projects.each do |project| %>
    <% if project.respond_to?(:pg_search_highlight) %>
      <%= project.pg_search_highlight.html_safe %>
    <% else %>
      <%= project.title %>
    <% end %>
  <% end %>
</ul>

<div class="books-search">
  <input type="text" id="books-search-txt" autofocus>
  <div class="results" id="books-search-results"></div>
</div>


<script>
  $(function() {
    new app.Lookups;
  });
</script>
