<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">account</p>
      <p class="level-item has-text-centered title">
        <%= link_to current_account.name, account_path(current_account) %>
      </p>
    </div>
  </div>
</nav>

<%= link_to "Invite new user", new_account_invitation_path(current_account), class: "button is-primary" %>
<%= current_account.owner.email %>
<br>

<div class="row formly">
<% current_account.users.each do |user| %>
  <div class="col-md-6">
    <li><%= user.email %></li>
  </div>
  <div class="col-md-6">
    <li><%= link_to "Remove", account_user_path(current_account, user), method: :delete, data: { confirm: "Are you sure you want to remove this user?" }, class: "button is-danger" %></li>
  </div>
  <br>
  <br>
<% end %>
</div>
