
<div class="row">

  <div class="col-md-12 mobile-user">
    <% if !user_signed_in? %>
      <%= link_to "sign up", new_account_path, class:"btn btn-default pull-right" %>
      <%= link_to "sign in", new_user_session_path, class: "btn btn-default pull-left" %>
    <% end %>
  </div>
  <br>
  <br>
  <br>
  <div class="col-md-2"></div>

  <div class="col-md-8 landing-image text-center">
    <h1><%= link_to "aetomata", root_url %></h1>
    <br>
    <br>

    <%= image_tag 'fulton2.jpg', class: "img-responsive" %>
    <h3>
      Have you ever wondered the stars of your favorite restaurant ratings are for? Is it for its service, food, or location? Which one is it? Wouldn't be nice if you can tell right away what makes that restaurant is 5 stars or 1 star?
    </h3>
    <br>
    <br>
    <br>
    <%= image_tag 'guys2.jpg', class: "img-responsive" %>
    <br>
    <h3>
      You can limit who can review your item. Or you can have any one to review it.
    </h3>
    <br>
    <br>
    <br>
    <%= image_tag 'charts.png', class: "img-responsive" %>
    <br>
    <h3>
      Visualize your data with the simple straight forward charts
    </h3>
    <br>
    <br>
    <br>
    <%= image_tag 'dynamic.png', class: "img-responsive" %>
    <br>
    <h3>
      Create and modify what attributes that you want your users to review, dynamically
    </h3>
  </div>
  <div class="col-md-2"></div>
</div>
