<% @title= @project.title + " - users"  %>

<%= link_to account_project_path(current_account, @project) do %>
  <div class="formy-back">
    <p class="formy-back-title"><%= @project.title %></p>
  </div>
<% end %>

<div class="formy">
  <p class="items-header">
  Members
  <%= link_to "+ Send", new_account_project_invitation_path(current_account, @project, @invitation), class: "new-invitation-button btn btn-success", remote: true %>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <p class="members-subheader">Accepted</p>
      <%= render "users/index" %>
    </div>
    <div class="col-md-6">
      <p class="members-subheader">Sent</p>
      <div id="invitations"></div>
      <%= render @invitations %>
    </div>
  </div>
</div>
