<%= link_to account_project_path(current_account, @project) do %>
  <div class="formy-back">
    <%= @project.title %>
  </div>
<% end %>
<div class="formy">
  <div class='row'>
    <div class='col-md-offset-4 col-md-4 content'>
      <h2>New Invitation</h2>
      <br>
      <%= form_for ([current_account, @project, @invitation]) do |f| %>
      <%= render "shared/errors", obj: @invitation %>
        <%= f.hidden_field :account_id %>
        <%= f.hidden_field :project_id, :value => @invitation.project_id %>
        <div>
          <%= f.text_field :email, class: "input", placeholder: "enter email" %>
        </div>
        <br>
        <%= f.submit "Invite User", class: "btn btn-default btn-lg" %>

      <% end %> </div>
    </div>
  </div>
</div>

<div class="row">
  <%= render "users/index" %>
</div>
