<div class="row">
  <div class="col-md-4">
    <%= form_for ([current_account, @project, @detail]), remote: true, html: {} do |f| %>
      <% f.hidden_field :project_id %>
      <li><%= f.text_field :name, placeholder: "enter an attribute", class: "detail-text" %>   <%= f.button "add", class: "btn btn-default btn-sm" %></li>
    <% end %>
  </div>

  <div class="col-md-8">
    <h4><strong>Attributes</strong></h4>
    <br>
    <div id="details">
      <%= render @details %>
    </div>
    <h4><small><%= link_to "more", account_project_details_path(current_account, @project, @details) %></small></h4>
  </div>
</div>
