
<%= form_for([current_account, @project], remote: true) do |f| %>

  <%= render "shared/errors", obj: @project %>
  <div class="control">
    <%= f.text_field :title, placeholder: 'title', label: false, class: "input", :maxlength => 40 %>
  </div>
  <div class="control">
    <%= f.text_area :description, placeholder: 'description', label: false, class: "extra-input", :maxlength => 280, :size => 40  %>
  </div>

  <%= f.submit "submit", class:"btn btn-primary" %>

<% end %>
