
  <div class="modal-dialog">
    <div class="modal-content">
      <br>
      <h2 class="text-center">new project</h2> 
      <br>
      <%= form_for([current_account, @project]) do |f| %>
      <%= render "shared/errors", obj: @project %>
        <div class="modal-body">
          <div class="row">

            <div class="col-md-12 text-center">
              <div class="control">
                <%= f.text_field :title, placeholder: 'title', label: false, class: "input ", :maxlength => 25, :size => 40 %>
              </div>
              <br>
              <div class="control">
                <%= f.text_area :description, placeholder: 'description', label: false, class: "input-text", :maxlength => 280, :size => 40  %>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="col-md-10">
              <% if invitations.present? %>
                <h5>users</h5>
                <br>
                <%= f.collection_check_boxes :user_ids, current_account.users.all, :id, :email, :item_wrapper_class => 'checkbox_container' do |cb| %>
                  <% cb.label(class: "check_box") do %>
                    <div class="col-xs-1">
                      <%= cb.check_box(class: "check_box") %>
                    </div>

                    <div class="col-xs-4">
                      <h6><%= cb.text %></h6>
                    </div>
                  <% end %>
                <% end %>
              <% else %>
                <h5>No one?! Go invite some users</h5>
              <% end %>
            </div>

          </div>
          <br>
          <br>
          <div class="row text-center">
            <%= f.submit "add project", class:"btn btn-success btn-lg" %>
            <%= link_to "never mind", account_path(current_account), class: "btn btn-default btn-lg" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
