<%= form_for([current_account, @project], remote: true) do |f| %>
  <div class="formly" id="current-pane">
    <%= render "shared/errors", obj: @project %>
    <div class="control">
      <%= f.text_field :title, placeholder: 'title', label: false, class: "input", :maxlength => 40 %>
    </div>
    <div class="control">
      <%= f.text_area :description, placeholder: 'description', label: false, class: "extra-input", :maxlength => 280, :size => 40  %>
    </div>
    <div class="row">
      <div class="pull-right">
        <%= link_to "remove", [current_account, @project], method: :delete, data: { confirm: "Are you sure you want to remove this?"}, class: "btn btn-danger" %>
        <%= f.submit "edit project", class:"btn btn-success" %>
        <button href="#current-pane" class="btn btn-default" data-dismiss="alert" aria-label="close" id="hide">
          close
        </button>
      </div>
    </div>
  </div>
<% end %>
