
  <div class="col-md-4">
    <div class="box">
      <h3><%= @project.title %> </h3>
      <% if @project.user_id == current_user.id %>
        <%= link_to edit_account_project_path(current_account, @project), remote: true do %>
          <span class="fa fa-gear"></span>
        <% end %>
      <% end %>
      <!-- <h5>account <%= link_to @account.name, account_path(@account), class: "link-to-text-color" %></h5> -->
      <hr>
      <h4><small>
        <% if @project.description.length > 250 %>
          <%= truncate(@project.description, length: 250) %>
          <%= link_to '...Read more', '', class: "read-more-#{@project.id}" %>
        <% else %>
          <%= @project.description %>
        <% end %>
      </small></h4>
      <h4><small>created <%= time_ago_in_words(@project.created_at) %> ago</small></h4>
    </div>
  </div>


<div id="product-modal" class="modal fade"></div>

<script>
  $('.read-more-<%= @project.id %>').on('click', function(e) {
    e.preventDefault()
    $(this).parent().html('<%= escape_javascript @project.description %>')
  })
</script>
