<div class="row">
  <div class="col-md-4">
    <h5><small>project</small></h5>
    <h1><%= @project.title %> </h1>
    <br>
    <h5>back to <%= link_to @account.name, account_path(@account) %></h5>
    <% if @project.user_id == current_user.id %>
      <%= link_to edit_account_project_path(current_account, @project) do %>
        <icon class="fa fa-gear pull-right"></icon>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-8">
    <h4><small>
      <% if @project.description.length > 250 %>
        <%= truncate(@project.description, length: 250) %>
        <%= link_to '...Read more', '', class: "read-more-#{@project.id}" %>
      <% else %>
        <%= @project.description %>
      <% end %>
    </small></h4>
    <br>
    <%= render "stats" %>
  </div>
</div>

<script>
  $('.read-more-<%= @project.id %>').on('click', function(e) {
    e.preventDefault()
    $(this).parent().html('<%= escape_javascript @project.description %>')
  })
</script>
