
<% if @project.user_id == current_user.id %>
  <div class="row">
    <div class="col-md-6">
      <h5>created</h5>
      <h6><%= time_ago_in_words(@project.created_at) %></h6>
    </div>
    <div class="col-md-6">
      <h5>last updated</h5>
      <h6><%= time_ago_in_words(@project.updated_at) %></h6>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <h5><%= invitations.count %> invitations</h5>
      <br>
      <h5><%= project_rating %> rating </h5>
      <br>
      <h5><%=  project_reviews_count %> Reviews</h5>
    </div>
  </div>
<% end %>
