<div class="row">
  <h1 class="text-center "> <%= @project.title%></h1>
</div>

<%= form_for([current_account, @project]) do |f| %>
  <div class="row">
      <div class="formly text-center">
        <h2>edit project</h2>
          <br>
          <div class="control">
              <%= f.text_field :title, placeholder: 'title', label: false, class:"input" %>
          </div>
          <br>
          <div class="control">
            <%= f.text_area :description, placeholder: 'write away', label: false, class:"input" %>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
              <h5><strong>Add your team members here:</strong></h5>
              <%= f.collection_check_boxes :user_ids, current_account.users.all, :id, :email, :item_wrapper_class => 'checkbox_container' do |cb| %>
                <% cb.label {cb.check_box(class: "checkbox") + cb.text} %>
              <% end %>
            </div>
            <div class="col-md-3"></div>
          </div>
      </div>
    </div>
    <br>
    <div class="text-center">
      <%= f.submit "yes please", class: "btn btn-success btn-lg" %>
      <%= link_to "never mind", account_project_path(current_account, @project), class: "btn btn-warning btn-lg" %>
      <br>
      <br>
      <h4>or, you can remove it</h4>
      <br>
      <%= link_to "be gone !!", [current_account, @project], method: :delete, data: { confirm: "Are you sure you want to remove this?"}, class: "btn btn-danger btn-lg" %>
    </div>
  </div>
<% end %>
