<div class="container">
  <% @account.projects.each do |project| %>
    <h4><%= link_to project.title, account_project_path(@account, project) %></h4>
    <h5><%= project.description %></h5>
    <% project.users.each do |user| %>
      <li><%= user.email %></li>
    <% end %>
    <%= link_to "Edit", edit_account_project_path(@account, project) %>
    <%= link_to "Delete", [@account, project], method: :delete, data: { confirm: "Are you sure you want to remove this?"} %>
  <% end %>
</div>
