<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">account</p>
      <p class="level-item has-text-centered title">
        <%= link_to @account.name, account_path(@account) %>
      </p>
    </div>
  </div>
</nav>
<hr>
<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">new project</p>

    </div>
  </div>
</nav>
<div class="columns">
  <div class="column is-3"></div>

    <div class="formly column is-6">
      <div class="field">
        <%= form_for([current_account, @project]) do |f| %>
          <%= f.hidden_field :account_id %>

          <div class="control">
              <%= f.text_field :title, placeholder: 'title', label: false, class:"input is-medium" %>
          </div>
          <br>
          <%= f.text_field :description, placeholder: 'description', label: false, class:"input is-medium" %>
          <%= f.collection_check_boxes :user_ids, current_account.users.all, :id, :email, :item_wrapper_class => 'checkbox_container' do |cb| %>
             <% cb.label {cb.check_box(class: "checkbox") + cb.text} %>
          <% end %>
          <br>
          <br>
          <%= f.button :submit, class: "button is-primary is-medium" %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")), account_path(@account), class: "button is-medium is-warning" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="column is-3"></div>
</div>
