<% @title= @project.title %>
<br>

<div class="formy">

	<div class="row text-center">
		<%= render "header" %>
	</div>

	<div class="row">
		<% if @project.user_id == current_user.id %>
			<div class="col-md-4">
				<%= link_to account_project_details_path(current_account, @project, @details), class:"project-box-link" do %>
					<div class="project-box">
				  	<p class="project-box-header">Details</p>
						<hr>
						<%= render "details" %>
					</div>
				<% end %>
			</div>
			<div class="col-md-4">
				<%= link_to account_project_items_path(current_account, @project, @items), class:"project-box-link" do %>
					<div class="project-box">
						<p class="project-box-header">Items</p>
						<hr>
						<%= render "cards" %>
					</div>
				<% end %>
			</div>
			<div class="col-md-4">
				<%= link_to new_account_project_invitation_path(current_account, @project), class:"project-box-link" do %>
					<div class="project-box">
						<p class="project-box-header">Members</p>
						<hr>
					</div>
				<% end %>
			</div>
			<div class='col-md-4'>
				<%= link_to account_project_boards_path(current_account, @project, @boards), class:"project-box-link" do %>
					<div class="project-box">
						<%= render "boards" %>
					</div>
				<% end %>
			</div>
		<% end %>
 	 	<div class="col-md-4">
			<%= link_to activities_path, class:"project-box-link" do %>
				<div class="project-box">
					<p class="project-box-header">Activities</p>
					<hr>
				</div>
			<% end %>
		</div>

		<div class="col-md-4">
			<%= link_to account_project_items_path(current_account, @project, @items), class:"project-box-link" do %>
				<div class="project-box">
					<p class="project-box-header">Challenge</p>
					<hr>
				</div>
			<% end %>
		</div>
	</div>
</div>

<br>

<%= render "footer" %>
