<% @title= @project.title %>
<br>
<div class="formy">
	<div class="row">
		<%= div_for @project do %>
			<%= render "header" %>
		<% end %>
	</div>
	<br>
</div>
	<br> 

	<% if @project.user_id == current_user.id %>
	<div class="formy">
			<div class="row">

				<div class="col-md-4">
					<div class="formy">
						<%= render "stats" %>
					</div>
				</div>
				<div class="col-md-3">
					<div class="formy">
						<%= render "users" %>
					</div>
				</div>
				<div class="col-md-5">
					<div class="formy">
						<%= render "details" %>
					</div>
				</div>
			</div>
	</div>
	<% end %>


<br>
<div class="row">
	<%= render "actions" %>
</div>

<div class="row">
	<div id="cards" class="tabcontent">
		<%= render "cards" %>
	</div>
	<div id="lists" class="tabcontent">
		<%= render "items_list" %>
	</div>
	<div id="simple-lists" class="tabcontent">
		<%= render "simple_lists" %>
	</div>
</div>

<%= render "footer" %>

	  <!-- <li><%= link_to "board", account_project_boards_path(current_account, @project, @boards) %></li> -->
