<% @title= @project.title %>

<div class="container">
	<div class="row">
		<%= render "header" %>
	</div>
	<div class="row">
		<%= render "stats" %>
		<%= render "users" %>

	</div>
	<hr>
	<div class="row">
		<%= render "details" %>
	</div>
	<hr>
	<div class="row">
		<div class="project-row">
			<%= render "actions" %>
		</div>
	</div>

	<div class="row">
		<div id="cards" class="tabcontent">
			<%= render "cards" %>
		</div>
		<div id="lists" class="tabcontent">
			<%= render "items_list" %>
		</div>
		<div id="simple-lists" class="tabcontent">
			<%= render "simple_lists" %>
		</div>
	</div>
</div>

<%= render "footer" %>

<div id="product-modal" class="modal"></div>
	  <!-- <li><%= link_to "board", account_project_boards_path(current_account, @project, @boards) %></li> -->
