<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="dropdown-container">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <h1 class="text-center "><%= @project.title %></h1>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#"> <%= link_to @account.name, account_path(@account) %></a></li>
        <li role="separator" class="divider"></li>
        <li>
          <%= link_to "edit project", edit_account_project_path(current_account, @project) %>
        </li>
      </ul>

    </div>
    <h4><small><%= @project.description %></small></h4>
    <br>
    <li class="text-center"><%= link_to "add item", new_account_project_item_path(current_account, @project), class: "btn btn-default btn-md" %></li>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2 pull-right">

  </div>
  <div class="col-md-10">
  </div>
</div>
<br>
<div>
  <% @project.items.each do |item| %>
    <div class="col-md-4 col-xs-6">
      <div class="item">
        <ul>
          <li>
            <%= link_to account_project_item_path(current_account, @project, item) do %>
              <%= image_tag(item.image.url(:large), class: "img-responsive img-rounded") %>
            <% end %>
          </li>
          <li><h4><strong><%= item.name %></strong></h4></li>

        </ul>
      </div>
      <br>
    </div>
  <% end %>
</div>
