<div class="row">
	<%= render "header" %>
	<%= render "details" %>

	<%= render "users" %>
	<%= render "actions" %>
	<div id="cards" class="tabcontent">
		<%= render "cards" %>
	</div>
	<div id="lists" class="tabcontent">
		 <%= render "items_list" %>
	</div>
</div>



	<%= render "footer" %>

	<div id="product-modal" class="modal fade"></div>
	  <!-- <li><%= link_to "board", account_project_boards_path(current_account, @project, @boards) %></li> -->
