<% @title= @project.title %>

	<div class="project-header">
		<%= render "header" %>
	</div>


	<div class="row">
		<% if @project.user_id == current_user.id %>
			<div class="col-md-4">
				<%= link_to account_project_details_path(current_account, @project, @details), class:"project-box-link" do %>
					<div class="project-box">
				  	<p class="project-box-header">Details</p>
						<p class="project-box-description">
							Build the categories of of which you want the item rated for
						</p>
						<p class="project-elements-count"><%= details%></p>
						<p class="project-elements-description">categories</p>
						<br>
						<%= render "details" %>
					</div>
				<% end %>
			</div>
			<div class="col-md-4">
				<%= link_to account_project_items_path(current_account, @project, @items), class:"project-box-link" do %>
					<div class="project-box">
						<p class="project-box-header">Items</p>
						<p class="project-box-description">
							Here you can create the items and link them with the available categories
						</p>
						<p class="project-elements-count"><%= all_items %></p>
						<p class="project-elements-description">item(s)</p>
						<%= render "cards" %>
						<footer>
							<p class="project-rating"><%= project_rating %></p>
						</footer>
						<!-- <%= render "cards" %> -->
					</div>
				<% end %>
			</div>
			<div class="col-md-4">
				<%= link_to account_project_invitations_path(current_account, @project, @invitations), class:"project-box-link" do %>
					<div class="project-box">
						<p class="project-box-header">Members</p>
						<p class="project-box-description">
							Invite one person or 100 people. Decide who gets to rate the your product.
						</p>
						<% if invitations.present? %>
							<p class="project-elements-count"><%= invitations %></p>
						<% else %>
							<p class="project-elements-count">0</p>
						<% end %>
						<p class="project-elements-description">invitation(s)</p>
					</div>
				<% end %>
			</div>
			<div class='col-md-4'>
				<%= link_to account_project_boards_path(current_account, @project, @boards), class:"project-box-link" do %>
					<div class="project-box">
						<p class="project-box-header">Messages board</p>
						<p class="project-box-description">
							Make your announcement surrounding your products.
						</p>
						<p class="project-elements-count"><%= announcements %></p>
						<p class="project-elements-description">announcement(s)</p>
					</div>
				<% end %>
			</div>
		<% end %>
 	 	<div class="col-md-4">
			<%= link_to activities_path, class:"project-box-link" do %>
				<div class="project-box">
					<p class="project-box-header">Activities</p>
					<p class="project-box-description">
						See what's you and others have done so far
					</p>
				</div>
			<% end %>
		</div>

		<div class="col-md-4">
			<%= link_to account_project_challenges_path(current_account, @project, @challenges), class:"project-box-link" do %>
				<div class="project-box">
					<p class="project-box-header">Challenges</p>
					<p class="project-box-description">
						Think of this section as product request from your members. What they want you to make them in the future. Set a goal and due date.
					</p>
					<!-- <% @project.challenges.last(4).each do |c| %>
					  <div class="project-box-preview-challenge">
					    <p class="project-box-preview-text"><%= c.name %></p>
					  </div>
					<% end %> -->

				</div>
			<% end %>
		</div>
	</div>


<br>

<%= render "footer" %>
