<div class="container bottom-padding">
	<% @title= @project.title %>
	<br>

	<div class="card w-50 centered text-center bg-shadow">

		<div class="card-body">

			<h3 class="card-title font-weight-bold"><%= @project.title %></h3>
			<p class="card-text grey-text"><%= @project.description %></p>
		</div>
	</div>

	<%= link_to edit_account_project_path(current_account, @project), remote: true do %>
		<p class="no-margin text-center secondary-link "><i class="fas fa-ellipsis-h"></i></p>
	<% end %>

	<div class="row">
		<% if @project.user_id == current_user.id %>
			<div class="col-md-4">
				<%= link_to account_project_details_path(current_account, @project, @details), class:"project-box-link" do %>

					<div class="card bg-shadow">

					  <div class="card-body">
							<h6 class="font-weight-bold">Details</h6>
							<p class="card-text grey-text font-weight-light">Build the categories of of which you want the item rated for.</p>
					    <h5 class="card-title "><%= details%></h5>
							<p class="card-text">categories.</p>
					    <!-- <%= render "details" %> -->
					  </div>
					</div>
				<% end %>
			</div>
			<div class="col-md-4">
				<%= link_to account_project_items_path(current_account, @project, @items), class:"project-box-link" do %>
					<div class="card bg-shadow">


						<div class="card-body">
							<h6 class="font-weight-bold">Items</h6>
							<p class="card-text grey-text font-weight-light">	Here you can create the items and link them with the available categories</p>
							<h5 class="card-title"><%= all_items %></h5>
							<p class="card-text">item(s)</p>
							<!-- <%= render "cards" %> -->
						</div>
					</div>

				<% end %>
			</div>
			<div class="col-md-4">
				<%= link_to account_project_invitations_path(current_account, @project, @invitations), class:"project-box-link" do %>
				<div class="card bg-shadow">

					<div class="card-body">
						<h6 class="font-weight-bold">Invitations</h6>
						<p class="card-text grey-text font-weight-light">Invite one person or 100 people. Decide who gets to rate the your product.</p>
						<h5 class="card-title"><%= invitations %></h5>
						<p class="card-text">invitations(s)</p>

					</div>
				</div>

				<% end %>
			</div>
			<div class='col-md-4'>
				<%= link_to account_project_boards_path(current_account, @project, @boards), class:"project-box-link" do %>
					<div class="card bg-shadow">

						<div class="card-body">
							<h6 class="font-weight-bold">Announcement</h6>
							<p class="card-text grey-text font-weight-light">Make your announcement surrounding your products.</p>
							<h5 class="card-title"><%= announcements %></h5>
							<p class="card-text">announcements.</p>

						</div>
					</div>

				<% end %>
			</div>
		<% end %>

 	 	<div class="col-md-4">
			<%= link_to activities_path, class:"project-box-link" do %>
				<div class="card bg-shadow">

					<div class="card-body">
						<h6 class=" font-weight-bold">Activities</h6>
						<p class="card-text grey-text font-weight-light">See what's you and others have done so far.</p>
						<h5 class="card-title"><%= details %></h5>
						<p class="card-text">activities</p>

					</div>
				</div>

			<% end %>
		</div>

		<div class="col-md-4">
			<%= link_to account_project_challenges_path(current_account, @project, @challenges), class:"project-box-link" do %>
				<div class="card bg-shadow">

					<div class="card-body">
						<h6 class="font-weight-bold">Challenges</h6>
						<p class="grey-text card-text font-weight-light">Think of this section as product request from your members. What they want you to make them in the future.</p>
						<h5 class="card-title"><%= challenges %></h5>
						<p class="card-text">challenges.</p>

					</div>
				</div>

			<% end %>
		</div>
	</div>

	<button class="dialog__trigger">Open Dialog</button>

	<div class="dialog">
	  <span class="dialog__close">&#x2715;</span>
	  <h2 class="dialog__title">This is a title</h2>
	  <p class="dialog__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit necessitatibus illo deleniti doloremque culpa voluptas recusandae, sunt eligendi amet, ut modi voluptatibus ipsa quas voluptatem consectetur atque, velit reprehenderit debitis.</p>
	  <button class="dialog__action">Read more &#8594;</button>
	</div>


	<%= render "footer" %>
</div>


<div id="project-modal" class="modal"></div>
