<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="level-item has-text-centered title is-2"><%= @project.title %></p>
      <p class="heading"><%= @project.description %></p>
    </div>
  </div>
</nav>

<nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p class="title"><%= link_to "Edit", edit_account_project_path(current_account, @project), class: "button is-small is-info" %>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
   <%= link_to "Add new item", new_account_project_item_path(current_account, @project), class: "button is-small is-primary" %>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="title">  <%= link_to "Delete", [current_account, @project], method: :delete, data: { confirm: "Are you sure you want to remove this?"}, class: "button is-small is-warning" %></p>
    </div>
  </div>

</nav>
<hr>

<div>

</div>

  <nav class="level">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading"></p>
        <p class="level-item has-text-centered heading">
          all items
        </p>
      </div>
    </div>
  </nav>

  <div class="row">

    <% @project.items.each do |item| %>

      <div class="project col-md-4">
        <div class="box is-primary">
          <article class="media">
            <div class="media-content">
              <div class="content">
                <p>
                  <li><strong><%= link_to content_tag(:span, item.name), account_project_item_path(current_account, @project, item) %></strong> </li>
                  <br>
                  <li><small><%= item.content.first(100) %> ...</small></li>
                  <li><small>Details to rate <%= item.details.count %></small></li>
                  <br>
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    <% end %>

  </div>
