<div class="container bottom-padding">
	<% @title= @project.title %>

<br>
	<div>
    <div class="uk-card uk-card-default uk-card-small uk-card-body">
        <h3 class="uk-card-title"><%= @project.title %></h3>
        <p><%= @project.description %></p>
				<a class="uk-button uk-button-default" href="#modal-full" uk-toggle>Open</a>

				<!-- <%= link_to edit_account_project_path(current_account, @project), remote: true do %>
					<p class="no-margin text-center secondary-link "><i class="fas fa-ellipsis-h"></i></p>
				<% end %> -->
    </div>
  </div>
	<br>


	<div class="row">
		<% if @project.user_id == current_user.id %>
			<div class="col-md-4">
				<%= link_to account_project_details_path(current_account, @project, @details), class:"project-box-link" do %>

					<div class="card bg-shadow">

					  <div class="card-body">
							<h6 class="font-weight-bold">Details</h6>
							<p class="card-text grey-text font-weight-light">Build the categories of of which you want the item rated for.</p>
					    <h5 class="card-title "><%= details%></h5>
							<p class="card-text">categories.</p>
					    <!-- <%= render "details" %> -->
					  </div>
					</div>
				<% end %>
			</div>
			<div class="col-md-4">
				<%= link_to account_project_items_path(current_account, @project, @items), class:"project-box-link" do %>
					<div class="card bg-shadow">


						<div class="card-body">
							<h6 class="font-weight-bold">Items</h6>
							<p class="card-text grey-text font-weight-light">	Here you can create the items and link them with the available categories</p>
							<h5 class="card-title"><%= all_items %></h5>
							<p class="card-text">item(s)</p>
							<!-- <%= render "cards" %> -->
						</div>
					</div>

				<% end %>
			</div>
			<div class="col-md-4">
				<%= link_to account_project_invitations_path(current_account, @project, @invitations), class:"project-box-link" do %>
				<div class="card bg-shadow">

					<div class="card-body">
						<h6 class="font-weight-bold">Invitations</h6>
						<p class="card-text grey-text font-weight-light">Invite one person or 100 people. Decide who gets to rate the your product.</p>
						<h5 class="card-title"><%= invitations %></h5>
						<p class="card-text">invitations(s)</p>

					</div>
				</div>

				<% end %>
			</div>
			<div class='col-md-4'>
				<%= link_to account_project_boards_path(current_account, @project, @boards), class:"project-box-link" do %>
					<div class="card bg-shadow">

						<div class="card-body">
							<h6 class="font-weight-bold">Announcement</h6>
							<p class="card-text grey-text font-weight-light">Make your announcement surrounding your products.</p>
							<h5 class="card-title"><%= announcements %></h5>
							<p class="card-text">announcements.</p>

						</div>
					</div>

				<% end %>
			</div>
		<% end %>

 	 	<div class="col-md-4">
			<%= link_to activities_path, class:"project-box-link" do %>
				<div class="card bg-shadow">

					<div class="card-body">
						<h6 class=" font-weight-bold">Activities</h6>
						<p class="card-text grey-text font-weight-light">See what's you and others have done so far.</p>
						<h5 class="card-title"><%= details %></h5>
						<p class="card-text">activities</p>

					</div>
				</div>

			<% end %>
		</div>

		<div class="col-md-4">
			<%= link_to account_project_challenges_path(current_account, @project, @challenges), class:"project-box-link" do %>
				<div class="card bg-shadow">

					<div class="card-body">
						<h6 class="font-weight-bold">Challenges</h6>
						<p class="grey-text card-text font-weight-light">Think of this section as product request from your members. What they want you to make them in the future.</p>
						<h5 class="card-title"><%= challenges %></h5>
						<p class="card-text">challenges.</p>

					</div>
				</div>

			<% end %>
		</div>
	</div>

	<%= render "footer" %>
</div>

<div id="modal-full" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
        <div class="uk-grid-collapse uk-child-width-expand@s uk-flex-middle" uk-grid>



          <div class="uk-padding-large uk-box-shadow-large " uk-height-viewport >
              <br>
							<br>
							<br>
							<br>
							<%= form_for([current_account, @project], remote: true) do |f| %>

			          <%= render "shared/errors", obj: @project %>
			          <div class="form-group">
			            <%= f.text_field :title, placeholder: 'title', label: false, class: "form-control", :maxlength => 40 %>
			          </div>
			          <div class="form-group">
			            <%= f.text_area :description, placeholder: 'description', label: false, class: "form-control", :maxlength => 280, :size => 40  %>
			          </div>
			          <br>
			          <p class="text-right"><%= f.submit "submit", class:"btn btn-primary" %></p>
			        <% end %>
							<button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
          		<button class="uk-button uk-button-primary" type="button">Save</button>
          </div>



        </div>
    </div>
</div>
<div id="project-modal" class="modal"></div>
