<p class="header has-text-centered">account <%= link_to @account.name, account_path(@account) %> </p>
<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="level-item has-text-centered title is-2"><%= @project.title %></p>
      <p class="heading">"<%= @project.description %> . . ."</p>
    </div>
  </div>
</nav>

<nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <div class="dropdown">
        <button class="button is-primary dropdown-toggle" type="button" data-toggle="dropdown">Settings
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <br>
          <p class="heading has-text-centered">Here you can edit the content of the title and description of your project. Or remove it altogether!</p>
          <li class="has-text-centered"><a href="#"><%= link_to "Go", edit_account_project_path(current_account, @project), class: "button is-primary is-small" %></a></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <%= link_to "Add new item", new_account_project_item_path(current_account, @project), class: "button is-small is-primary" %>
    </div>
  </div>
</nav>
<hr>

<div>

</div>

<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <% if @project.items.count < 2 %>
        <p class="title has-text-centered"><%= @project.items.count %></p><p class="has-text-centered heading">item</p>
      <% else %>
        <p class="title has-text-centered"><%= @project.items.count %></p><p class="has-text-centered heading">items</p>
      <% end %>
    </div>
  </div>
</nav>

<div class="row">
  <% @project.items.each do |item| %>
    <div class="col-xs-6 col-md-4 padding0">
      <div class="box is-primary">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p>
                <li><strong><%= link_to content_tag(:span, item.name), account_project_item_path(current_account, @project, item) %></strong> </li>
                <br>
                <li><small><%= item.content.first(100) %> ...</small></li>
                <li><small>Details to rate <%= item.details.count %></small></li>
                <br>
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  <% end %>
</div>
