
  <%= render "header" %>

<br>
<%= render "stats" %>
<br>
<br>
<%= render "actions" %>
<%= render "cards" %>
<br>

<%= render "boards" %>

<div class="row">
  <%= pie_chart  @items.group(:name).count %>
</div>

<%= render "footer" %>
