<div class="row ">
  <div class="col-md-12 text-center">
    <h1><%= link_to "home", root_url %></h1>
    <br>
    <h4><%= current_account.owner.email %></h4>
  </div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="formy">
      <%= form_tag account_update_payment_details_path(current_account), method: :put do %>
        <input type="hidden" id="email" value="<%= current_account.owner.email %> "/>
        <%= submit_tag "Update Payment Details", class: "btn btn-lg btn-default", id: "payment-btn" %>
      <% end %>
    </div>
  </div>
  <div class="col-md-3"></div>

</div>
<div class="formy">
  <%= javascript_include_tag "https://js.stripe.com/v2/" %>
  <script>

        Stripe.setPublishableKey('#{Rails.application.secrets.stripe_publishable_key}');

  </script>

  <%= label_tag "Card Number", nil, required: true %>
  <div class="control-group">
    <div class="controls">
      <%= text_field_tag :card_number, nil, class: "input-block-level", "data-stripe" => "number" %>
    </div>
  </div>
  <%= label_tag "Card Verification", nil, required: true %>
  <div class="control-group">
    <div class="controls">
      <%= text_field_tag :card_verification, nil, class: "input-block-level", "data-stripe" => "cvv" %>
    </div>
  </div>
  <%= label_tag "Card Expires", nil, required: true %>
  <%= select_tag :exp_month, options_for_select(Date::MONTHNAMES.compact.each_with_index.map { |name,i| ["#{i+1} - #{name}", i+1] }), include_blank: false, "data-stripe" => "exp-month", class: "span2" do %>
  <%= select_tag :exp_year, options_for_select((Date.today.year..(Date.today.year+10)).to_a), include_blank: false, "data-stripe" => "exp-year", class: "span1" %>
  <div class="actions">
    <%= f.submit "Registration Payment", class: "btn", style: "color: white;background: rgb(242, 118, 73);" %>
  </div>
<% end %>
</div>
