
<div class="formy-back">
  <div class="col-md-12 text-center">
    <p class="formy-back-title"><%= link_to current_account.name, accounts_path(current_account) %></p>
    <br>
    <p class="formy-back-title">payment info</p>
    <br>
  </div>
</div>

<div class="formy">
  <%= form_tag account_update_payment_details_path(current_account), method: :put do %>
    <input type="hidden" id="email" value="<%= current_account.owner.email %> "/>
    <%= submit_tag "Update Payment Details", class: "btn btn-default", id: "payment-btn" %>
  <% end %>
</div>


<div class="formy">
  <div class="payment-form">
    <%= form_tag account_update_payment_details_path(current_account), method: :put do %>
      <input type="hidden" id="email" value="<%= current_account.owner.email %> "/>
      <%= label_tag "Card Number", nil, required: true %>
      <div class="control-group">
        <div class="controls">
          <%= text_field_tag :card_number, nil, class: "extra-input", "data-stripe" => "number" %>
        </div>
      </div>
      <br>
      <%= label_tag "Card Verification", nil, required: true %>
      <div class="control-group">
        <div class="controls">
          <%= text_field_tag :card_verification, nil, class: "card-input-verification", "data-stripe" => "cvv" %>
        </div>
      </div>
      <br>
      <div class="form-group">

        <%= label_tag "Card Expires", nil, required: true %>
        <div class="row">
          <div class="col-md-8">
            <%= select_tag :exp_month, options_for_select(Date::MONTHNAMES.compact.each_with_index.map { |name,i| ["#{i+1} - #{name}", i+1] }), include_blank: false, "data-stripe" => "exp-month", class: "form-control" %>
          </div>
          <div class="col-md-4">
            <%= select_tag :exp_year, options_for_select((Date.today.year..(Date.today.year+10)).to_a), include_blank: false, "data-stripe" => "exp-year", class: "form-control" %>
          </div>
        </div>
        <br>
        <div class="actions">
          <button class="btn btn-success">Submit</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script src="https://checkout.stripe.com/checkout.js"></script>
<%= javascript_include_tag "billing" %>
