<div class="formy-back">
  <div class="col-md-12 text-center">
    <p class="formy-back-title"><%= link_to "accounts", accounts_path(current_account) %></p>
    <br>
    <p class="formy-back-title">Payment details for <%= current_account.owner.email %></p>
    <br>
  </div>
</div>

<!-- <div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="formy">
      <%= form_tag account_update_payment_details_path(current_account), method: :put do %>
        <input type="hidden" id="email" value="<%= current_account.owner.email %> "/>
        <%= submit_tag "Update Payment Details", class: "btn btn-lg btn-default", id: "payment-btn" %>
      <% end %>
    </div>
  </div>
  <div class="col-md-3"></div> -->

<!-- </div> -->


<div class="formy">
<%= form_tag account_update_payment_details_path(current_account), method: 'post', id: 'payment-form' do %>
  <span class="payment-errors"></span>

  <div class="form-row">
    <label>
      <span>Card Number</span>
      <input type="text" size="20" data-stripe="number" class="input"/>
    </label>
  </div>
  <br>
  <div class="form-row">
    <label>
      <span>CVC</span>
      <input type="text" size="4" data-stripe="cvc" class="input"/>
    </label>
  </div>
  <br>
  <div class="form-row">
    <label>
      <span>Expiration (MM/YYYY)</span>
      <input type="text" size="2" data-stripe="exp-month" class="input"/>
    </label>
    <span> / </span>
    <input type="text" size="4" data-stripe="exp-year" class="input"/>
  </div>
  <br>
  <button type="submit" class="btn btn-default">Submit Payment</button>
<% end %>
</div>
