
<div class="formy-back">
  <div class="col-md-12 text-center">
    <p class="formy-back-title"><%= link_to current_account.name, accounts_path(current_account) %></p>
    <br>
    <p class="formy-back-title">payment info</p>
    <br>
  </div>
</div>

<div class="formy">
  <%= form_tag account_update_payment_details_path(current_account), method: :put do %>
    <input type="hidden" id="email" value="<%= current_account.owner.email %> "/>
    <%= submit_tag "Update Payment Details", class: "btn btn-default", id: "payment-btn" %>
  <% end %>
</div>


<%= form_with url: account_update_payment_details_path(current_account), method: :post, id: 'payment-form' do |form| %>
  <div class="form-row">
    <label for="card-element">Credit or debit card</label>
    <div id="card-element"></div>
    <div id="card-errors" role="alert"></div>
  </div>
  <%= form.submit 'Subscribe', class: 'btn btn-primary' %>
<% end %>



<script src="https://checkout.stripe.com/checkout.js"></script>
<%= javascript_include_tag "billing" %>
