<div class="row ">
  <div class="col-md-12 text-center">
    <h1><%= link_to "home", root_url %></h1>
    <br>
    <h4><%= current_account.owner.email %></h4>
  </div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="formy">
      <%= form_tag account_update_payment_details_path(current_account), method: :put do %>
        <input type="hidden" id="email" value="<%= current_account.owner.email %> "/>
        <%= submit_tag "Update Payment Details", class: "btn btn-lg btn-default", id: "payment-btn" %>
      <% end %>
    </div>
  </div>
  <div class="col-md-3"></div>

</div>
