<%= div_for @board do %>
  <div class="board-note-bubble">

      <li class="dropdown pull-right">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="fa fa-ellipsis-h"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><%= link_to "Edit", edit_account_project_board_path(current_account, @project, @board), remote: true %></li>

        </ul>
      </li>
    <%= image_tag @board.photo, class: "img-responsive" %> 
    <div class="board-note trix-content"><%= sanitize @board.note %></div>
    <div class="pull-right">
      <p>by <%= @board.user.email %>, <%= time_ago_in_words(@board.created_at) %> ago</p>
    </div>
  </div>
<% end %>
