<div class="modal-dialog  modal-lg">
  <div class="modal-content modal-styling">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="h6"><%= sanitize @board.note %></div>
    </div>
    <div class="modal-footer">
      <% if current_user.id == @board.user_id %>
        <%= link_to "edit", edit_account_project_board_path(current_account, @project, @board), remote: true, class: "btn btn-xs btn-success" %>
        <%= link_to "remove", [current_account, @project, @item, @board], method: :delete, data: { confirm: "Are you sure you want to remove this?"}, class: "btn btn-secondary btn-sm" %>
      <% end %>
      <p>by <%= @board.user.email %></p>
      <%= time_ago_in_words(@board.created_at) %> ago
    </div>
  </div>
</div>
