<div class="comment">
  <% set_project.boards.order("created_at desc").each do |board| %>
    <div class="row">
      <div class="col-md-11">
        <h4><%= board.note %></h4>
        <p><%= time_ago_in_words(board.created_at) %> ago</p>
        <p><%= board.user.email %></p>
      </div>
      <br>
      <div class="col-md-1">
        <% if current_user.id == board.user_id %>
          <%= link_to edit_account_project_board_path(current_account, set_project, board), remote: true do %>
            <icon class="fa fa-pencil "></icon>
          <% end %>

          <%= link_to [current_account, set_project, board], remote: true, method: :delete, data: { confirm: "Are you sure you want to remove this?"} do %>
            <icon class="fa fa-trash"></icon>
          <% end %>
        <% end %>
      </div>
    </div>
    <br>
  <% end %>
</div>
