<%= link_to account_project_path(current_account, set_project) do %>
  <div class="formy-back">
    <p class="formy-back-title"><%= set_project.title %></p>
  </div>
<% end %>

<div class="formy">
  <p class="board-header">Announcement</p>
  <div class="row">
    <%= link_to "+ project", new_account_project_board_path(current_account, set_project), remote: true, class: "new-board-button btn btn-success btn-lg" %>

  </div>

  <div class="row">
    <div id="boards">
      <!-- <%= render @boards %> -->
      <% @board_weeks.each do |day, boards| %>
      <div class="row">
          
        <h2 class="text-center"><%= day.strftime("%B %d %Y") %></h2>

        <%= render boards %>
      </div>
      <% end %>

    </div>
  </div>

</div>
