<% @title= @project.title + " - announcements"  %>


  <!-- <div class="row">
    <div class="new-board-button"></div>
    <% @board_weeks.each do |day, boards| %>
      <p class="board-week-header"><%= day.strftime("%B %d %Y") %></h2>
        <div id="boards"></div>
        <div class="row">
          <%= render boards %>
        </div>
      <% end %>
    </div>
  </div> -->
<br>
<div class="bottom-padding">
  <h4 class="card-title">
    <strong>Announcements</strong>
    <%= link_to "+ New", new_account_project_board_path(current_account, @project), remote: true, class: "og-board-button btn btn-success btn-sm" %>
  </h4>
  <h6 >With supporting text below as a natural lead-in to additional content.</h6>
  <p class="card-text">back to <%= link_to @project.title, account_project_path(current_account, @project) %></p>

  <hr>

  <div class="new-board-button"></div>


  <div id="boards"></div>

  <% if @boards.present? %>
    <div class="row">
      <%= render @boards %>
    </div>
  <% else %>
    <h4 class="font-weight-bold way-down-center text-center">Nothing yet</h4>
  <% end %>


  <div id="board-modal" class="modal"></div>
</div>
