<%= link_to account_project_path(current_account, set_project) do %>
  <div class="formy-back">
    <%= set_project.title %>
  </div>
<% end %>

<div class="formy">
  <p class="board-header">Post-it</p>

  <div class="row">
    <div class="">
      <div id="boards">
        <%= render @boards %>
      </div>
    </div>
  </div>
  <div class="board-form">
    <%= form_for ([current_account, set_project, @board]), remote: true, html: {} do |f| %>

      <li><%= f.text_area :note, placeholder: "write something", class: "", :size => 40  %></li>
      <li><%= f.button "add", class: "btn btn-warning btn-lg" %></li>
    <% end %>
  </div>
</div>
