<% @title= set_project.title + " - announcements"  %>

<%= link_to account_project_path(current_account, set_project) do %>

  <div class="formy-back">
    <p class="formy-back-title"><%= set_project.title %></p>
  </div>
<% end %>


<div class="formy">
  <p class="board-header">Announcement</p>
  <div class="row">
    <%= link_to "+ project", new_account_project_board_path(current_account, set_project), remote: true, class: "new-board-button btn btn-success btn-lg" %>

  </div>

  <div class="row">
    <% @board_weeks.each do |day, boards| %>
      <p class="board-week-header"><%= day.strftime("%B %d %Y") %></h2>
        <div class="row">
          <div id="boards"></div>
          <%= render boards %>
        </div>
      <% end %>
    </div>
  </div>

</div>
