<%= link_to account_project_path(current_account, set_project) do %>
  <div class="formy-back">
    <p class="formy-back-title"><%= set_project.title %></p>
  </div>
<% end %>

<div class="formy">
  <p class="board-header">Announcement</p>
  <div class="row">
    <div class="board-form">
      <%= form_for ([current_account, set_project, @board]), remote: true, html: {} do |f| %>
        <li><%= f.text_area :note, placeholder: "write something", class: "board-input", :size => 40  %></li>
        <br>
        <li><%= f.button "post", class: "btn btn-success btn-lg pull-right" %></li>
      <% end %>
    </div>
  </div>
  <div id="boards">
    <div class="row">
      <%= render @boards %>
    </div>
  </div>
</div>
