<div class="modal-dialog modal-lg ">
  <div class="modal-content modal-styling">
    <div class="modal-body">
      <%= form_for([current_account, @project, @item], remote: true) do |f| %>
        <%= render "shared/errors", obj: @item %>
        <%= f.hidden_field :project_id %>

          <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <%= f.text_field :name, placeholder: 'name', label: false, autofocus: true, class: "form-control ", :maxlength => 25, :size => 40 %>

          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Description</label>
            <%= f.text_area :content, placeholder: 'content', label: false, autofocus: true, class: "form-control", :maxlength => 280, :size => 40 %>
          </div>
          <%= f.file_field :image %>
          <br>
          <br>
          <div class="row">
            <%= f.collection_check_boxes :detail_ids, @project.details.all, :id, :name, :item_wrapper_class => '' do |cb| %>
              <div class="col-md-3">
                <label class="detail-container">
                  <%= cb.label %>
                  <%= cb.check_box %>
                  <span class="checkmark"></span>
                </label>
                <br>
                <br>
              </div>
            <% end %>
          </div>
        

        <div class="modal-footer">
          <%= link_to "remove", [current_account, @project, @item], method: :delete, data: { confirm: "Are you sure you want to remove this?"}, class: "btn btn-danger" %>
          <%= f.submit "edit item", class:"btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
