<%= form_for ([current_account, set_project, @item]), remote: true, html: {} do |f| %>
  <div class="formly" id="current-pane">
    <div class="row">
      <%= f.hidden_field :project_id %>
      <%= f.text_field :name, placeholder: 'name the item', autofocus: true, label: false, class: "input ", :maxlength => 25, :size => 40 %>
      <br>
      <%= f.text_field :content, placeholder: 'description', label: false, autofocus: true, class: "extra-input", :maxlength => 280, :size => 40  %>
      <br>
      <%= f.text_field :link, placeholder: "link from instagram or others for your image", autofocus: true, class: "extra-input" %>
    </div>
    <br>
    <div class="row">
      <%= f.collection_check_boxes :detail_ids, set_project.details.all, :id, :name, :item_wrapper_class => 'checkbox-inline' do |cb| %>
        <div class="col-md-3">
        <label class="detail-container">
          <%= cb.label %>
          <%= cb.check_box %>
          <span class="checkmark"></span>
        </label>
        <br>
        <br>
        </div>
      <% end %>

    </div>
    <div class="row">
      <div class="pull-right">
        <%= f.submit "create item", class:"btn btn-success" %>
        <button href="#current-pane" class="btn btn-default" data-dismiss="alert" aria-label="close" id="hide">close</button>
      </div>
    </div>
  </div>
<% end %>
