<%= form_for([current_account, @project, @item], remote: true) do |f| %>
  <div class="formly" id="current-pane">
    <div class="row">
      <%= f.hidden_field :project_id %>
      <%= f.text_field :name, placeholder: 'name the item', autofocus: true, label: false, class: "input ", :maxlength => 25, :size => 40 %>
      <br>
      <%= f.hidden_field :content, placeholder: 'description', label: false, autofocus: true, id:"item-content", class: "extra-input", :maxlength => 279.9, :size => 40  %>
      <br>
      <trix-editor input= "item-content" class="trix-content"></trix-editor>
      <%= f.file_field :image, class: "dropzone" %>
      <br>

    </div>
    <br>
    <div class="row">
      <%= f.collection_check_boxes :detail_ids, @project.details.all, :id, :name, :item_wrapper_class => 'checkbox-inline' do |cb| %>
        <div class="col-md-3">
        <label class="detail-container">
          <%= cb.label %>
          <%= cb.check_box %>
          <span class="checkmark"></span>
        </label>
        <br>
        <br>
        </div>
      <% end %>

    </div>
    <div class="row">
      <div class="pull-right">
        <%= f.submit "create item", class:"btn btn-success" %>
        <button href="#current-pane" class="btn btn-default" data-dismiss="alert" aria-label="close" id="hide">close</button>
      </div>
    </div>
  </div>
<% end %>
