<div class="row">
  <div class="box">
    <h1><%= @item.name %></h1>
    <br>

    <h3><small>
      <% if @item.content.length > 280 %>
        <%= truncate(@item.content, length: 280) %>
        <%= link_to '...Read more', '', class: "read-more-#{@item.id}" %>
      <% else %>
        <%= @item.content %>
      <% end %>
    </small></h3>

    <div class="pull-right">
      <% if @project.user_id == current_user.id %>
        <%= link_to edit_account_project_item_path(current_account, set_project, set_item), remote: true do %>
          <icon class="fa fa-gear fa-2x"></icon>
        <% end %>
      <% end %>
    </div>
    <br>
    <h5>back to <%= link_to set_project.title, account_project_path(current_account, set_project) %></h5>
  </div>
</div>

<div id="product-modal" class="modal fade"></div>

<script>
  $('.read-more-<%= @item.id %>').on('click', function(e) {
    e.preventDefault()
    $(this).parent().html('<%= escape_javascript @item.content %>')
  })
</script>
