
  <div class="dropdown-container">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <h1><%= @item.name %></h1>
    </a>
    <li>
      <h5>
        <% if item_average_rating.present? %>
          <div class="star-rating" data-score= <%= item_average_rating %> ></div>
        <% else %>
          <h5>No reviews yet</h5>
        <% end %>
      </h5>
    </li>
    <div class="subtitle">
      <% if @item.content.length > 100 %>
        <%= truncate(@item.content, length: 100) %>
        <%= link_to '...Read more', '', class: "read-more-#{@item.id}" %>
      <% else %>
        <h4><%= @item.content %></h4>
      <% end %>
    </div>
    <ul class="dropdown-menu">
      <li><a href="#"> <%= link_to set_project.title, account_project_path(current_account, set_project) %></a></li>
      <% if set_project.user_id == current_user.id %>
        <li role="separator" class="divider"></li>
        <li>
          <%= link_to "edit", edit_account_project_item_path(current_account, set_project, @item) %>
        </li>
      <% end %>
    </ul>
  </div>


<script>
  $('.read-more-<%= @item.id %>').on('click', function(e) {
    e.preventDefault()
    $(this).parent().html('<%= escape_javascript @item.content %>')
  })
</script>
