<%= div_for @item do %>
  <div class="formy">
    <% if @project.user_id == current_user.id %>
      <%= link_to edit_account_project_item_path(current_account, set_project, @item), remote: true do  %>
        <span class="fa fa-ellipsis-h pull-right"></span>
      <% end %>
    <% end %>

    <p class="project_title_in_item"><%= link_to @project.title, account_project_path(current_account, set_project), class: "link-to-text-color" %></p>

    <p class="item_name"><%= @item.name %></p>
    <p class="item_description"><%= @item.content %></p>

    <% total = [] %>
    <% @item.reviews.each do |review| %>
      <% keys = [] %>
      <% values = [] %>
      <% review.properties.each do |name, value| %>
        <% keys << name %>
        <% values << value.to_i %>
      <% end %>
      <% total << (values.sum.to_f / keys.uniq.size).round rescue 0 %>
    <% end %>
    <div class="star-rating item_rating" data-score= <%= (total.sum.to_f / @item.reviews.count).round rescue 0 %>, style= "zoom:30%;" ></div>
    <br>

    <h5><strong><%=  @item.details.count  %> attributes</strong></h5>

    <% @item.details.each do |detail| %>
      <%= detail.name %>
    <% end %>
    <hr>
    <h5><%= time_ago_in_words(@item.created_at) %> ago</h5>
  </div>

<% end %>
