<div class="row">
  <div class="col-md-4">
    <%= image_tag(@item.image.url(:large), class: "img-responsive img-rounded") %>
    <div class="col-md-12">
    </div>
  </div>
  <div class="col-md-7">
    <h1><%= @item.name %></h1>
    <br>
    <h6>project <%= link_to @project.title, account_project_path(current_account, set_project), class: "link-to-text-color" %></h6>

    <h3>
      <small>
        <% if @item.content.length > 280 %>
          <%= truncate(@item.content, length: 280) %>
          <%= link_to '...Read more', '', class: "read-more-#{@item.id}" %>
        <% else %>
          <%= @item.content %>
        <% end %>
      </small>
    </h3>
    <% if @project.user_id == current_user.id %>
      <h6><%= link_to "edit", edit_account_project_item_path(current_account, set_project, set_item), remote: true %></h6>
    <% end %>
  </div>
</div>


<script>
  $('.read-more-<%= @item.id %>').on('click', function(e) {
    e.preventDefault()
    $(this).parent().html('<%= escape_javascript @item.content %>')
  })
</script>
