
  <% if @items.present? %>
    <% @items.each do |item| %>
      <%= link_to account_project_item_path(current_account, @project, item), class: 'link-to-text-color' do %>
        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="boxy">
            <%= image_tag(item.image.url(:large), class: "img-responsive") %>

            <h4><%= truncate(item.name, length: 15) %></h4>
            <h6><%= time_ago_in_words(item.created_at) %> ago</h6>
            <!-- <p>updated <%= time_ago_in_words(item.updated_at) %> ago</p> -->
            <!-- <p><%= truncate(item.content, length: 25) %></p> -->
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="text-center">
      <h3>No items yet</h3>
    </div>
  <% end %>
