<div class="row">
  <% if set_project.user_id == current_user.id %>

    <div class="col-md-2"></div>
    <div class="col-md-2 col-sm-3 col-xs-6">
      <div class="text-center">
        <% total = [] %>
        <% set_item.reviews.each do |review| %>
          <% keys = [] %>
          <% values = [] %>
          <% review.properties.each do |name, value| %>
            <% keys << name %>
            <% values << value.to_i %>
          <% end %>
          <% total << (values.sum.to_f / keys.uniq.size).round rescue 0 %>
        <% end %>
        <h2><%= (total.sum.to_f / set_item.reviews.count).round rescue 0 %> </h2>
        <h5>smiles</h5>
        <!-- <div class="star-rating" style="zoom: 125%" data-score= <%= (total.sum.to_f / set_item.reviews.count).round rescue 0 %> ></div> -->
      </div>
    </div>

    <div class="col-md-2 col-sm-3 col-xs-6 text-center">
      <h2><%= all_reviewers %></h2>
      <h5>reviewers</h5>
    </div>

    <div class="col-md-2 col-sm-3 col-xs-6">
      <div class="text-center">
        <% if total_reviews > 1 %>
          <h2> <%= total_reviews %></h2>
          <h4>reviews</h4>
        <% else %>
          <h2><%= total_reviews %></h2>
          <h5>review</h5>
        <% end %>
      </div>
    </div>

    <div class="col-md-2 col-sm-3 col-xs-6">
      <div class="text-center">
        <% if @item.details.count > 1 %>
          <h2><%= @item.details.count %></h2>
          <h5>attributes</h5>
        <% else %>
          <h2><%= @item.details.count %></h2>
          <h5>attribute</h5>
        <% end %>
      </div>
    </div>
    <div class="col-md-2"></div>
  <% end %>
</div>
