<% if set_project.user_id == current_user.id %>
<div class="row">

    <div class="stats1">
      <h5> Reviewers: <%= all_reviewers %></h5>
    </div>


    <div class="stats2">
      <% if total_reviews > 1 %>
        <h5>reviews: <strong><%= total_reviews %> </strong></h5>
      <% else %>
          <h5>review: <strong><%= total_reviews %> </strong></h5>
      <% end %>
    </div>


    <div class="stats3">
      <h5>
        <% if @item.details.count > 1 %>
          categories: <%= @item.details.count %>
        <% else %>
          category: <%= @item.details.count %>
        <% end %>
      </h5>
    </div>

    <div class="stats4">
      <li>
        <h5>added <%= time_ago_in_words(@item.created_at) %> ago </h5>
      </li>
      <li>
        <h5>last update <%= time_ago_in_words(@item.updated_at) %> ago </h5>
      </li>
    </div>
  
</div>
<% end %>
