<% if set_project.user_id == current_user.id %>
  <div class="row">

    <div class="box">
      <h5>
        <% if item_average_rating.present? %>
          <div class="star-rating" style="zoom: 125%" data-score= <%= item_average_rating %> ></div>
        <% else %>
          <h5>No reviews yet</h5>
        <% end %>
      </h5>
      <p><small>not to bad ehh?!</small></p>
    </div>

    <div class="boxy text-center">
      <h4>
        Reviewers: <%= all_reviewers %>

      </h4>
    </div>

    <div class="boxy text-center">
      <h4>
        <% if total_reviews > 1 %>
          reviews: <%= total_reviews %>
        <% else %>
            review: <strong><%= total_reviews %>
        <% end %>
      </h4>
    </div>

    <div class="boxy text-center">
      <h4>
        <% if @item.details.count > 1 %>
          categories: <%= @item.details.count %>
        <% else %>
          category: <%= @item.details.count %>
        <% end %>

      </h4>
    </div>

    <div class="boxy text-center">
      <h4>added <%= time_ago_in_words(@item.created_at) %> ago</h4>
      <h4>last update <%= time_ago_in_words(@item.updated_at) %> ago</h4>
    </div>
  </div>
<% end %>
