<% if set_project.user_id == current_user.id %>
  <div class="row">

    <div class="box">
      <% total = [] %>
      <% set_item.reviews.each do |review| %>

        <% keys = [] %>
        <% values = [] %>
        <% review.properties.each do |name, value| %>
          <% keys << name %>
          <% values << value.to_i %>
        <% end %>
        <% total << (values.sum.to_f / keys.uniq.size).round %>
      <% end %>
      <h3><%= (total.sum.to_f / set_item.reviews.count).round rescue 0 %> claps</h3>
      <!-- <div class="star-rating" style="zoom: 125%" data-score= <%= (total.sum.to_f / set_item.reviews.count).round rescue 0 %> ></div> -->
    </div>

    <div class="boxy text-center">
      <h4>
        Reviewers: <%= all_reviewers %>

      </h4>
    </div>

    <div class="boxy text-center">
      <h4>
        <% if total_reviews > 1 %>
          reviews: <%= total_reviews %>
        <% else %>
            review: <strong><%= total_reviews %>
        <% end %>
      </h4>
    </div>

    <div class="boxy text-center">
      <h4>
        <% if @item.details.count > 1 %>
          categories: <%= @item.details.count %>
        <% else %>
          category: <%= @item.details.count %>
        <% end %>

      </h4>
    </div>

    <div class="boxy text-center">
      <h4>added <%= time_ago_in_words(@item.created_at) %> ago</h4>
      <h4>last update <%= time_ago_in_words(@item.updated_at) %> ago</h4>
    </div>
  </div>
<% end %>
