
<div class="row">
  <!-- <h3 class="text-center">Reviews</h3>
  <br>
  <%= render "current_user_review" %>
  <br> -->

  <% @item.reviews.order('created_at desc').each do |review| %>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <%= link_to account_project_item_review_path(current_account, set_project, set_item, review), remote: true do %>
        <div class="box">
          <% keys = [] %>
          <% values = [] %>
          <% review.properties.each do |name, value| %>
            <% keys << name %>
            <% values << value.to_i %>
          <% end %>

          <h2 class="text-center"><strong><%= (values.sum.to_f / keys.uniq.size).round rescue 0 %> </strong></h2>
          <hr>
          <h6 style="color:grey"><strong><%= review.user.email %></strong> - <%= time_ago_in_words(review.created_at) %> ago</h6>
          <br>
          <% if current_user.id == review.user_id %>
            <%= link_to "edit", edit_account_project_item_review_path(current_account, set_project, set_item, review), remote: true, class: "btn btn-xs btn-success" %>
            <%= link_to "remove", [current_account, set_project, set_item, review], method: :delete, data: { confirm: "Are you sure you want to remove this?"}, class: "btn btn-xs btn-danger pull-right" %>
          <% end %>

        </div>
      <% end %>
    </div>
  <% end %>
</div>
