<div class="col-md-12">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3><strong>reviews</strong></h3>
      <%= render "current_user_review" %>
      <h6 style="color:grey"> tap the bubble to see more detailed review</h6>
    </div>
  </div>
  <br>
  <div class="row">
    <% @item.reviews.order('created_at desc').each do |review| %>
      <div class="col-md-12 col-sm-4 col-xs-12">
        <div class="<%= cycle('left', 'right') -%>">

          <div class="box2">
            <%= link_to account_project_item_review_path(current_account, set_project, set_item, review), remote: true do %>
              <% keys = [] %>
              <% values = [] %>
              <!-- <div>
                <% if current_user.id == review.user_id %>
                <br>
                  <%= link_to "edit", edit_account_project_item_review_path(current_account, set_project, set_item, review), remote: true, class: "btn btn-xs btn-success" %>
                  <%= link_to "remove", [current_account, set_project, set_item, review], method: :delete, data: { confirm: "Are you sure you want to remove this?"}, class: "btn btn-xs btn-danger" %>
                <% end %>
              </div> -->

              <!-- <% review.properties.each do |name, value| %>
                <% keys << name %>
                <% values << value.to_i %>
                <div class="row">
                  <div class="col-md-6 col-sm-9 col-xs-6">
                    <h5><%= name %>  </h5>
                  </div>
                  <div class="col-md-6 col-sm-3 col-xs-6 pull-left">
                    <div class="star-rating" data-score= <%= value %>, style= "zoom:30%;" ></div>
                  </div>
                </div>
              <% end %>
              <br> -->
              <h2><div class="star-rating" data-score= <%= (values.sum.to_f / keys.uniq.size).round rescue 0 %>, style= "zoom:40%;" ></div></h2>
              <br>
              <% if review.description.present? %>
                <h4 style="color:grey"><%= review.description %></h4>
              <% end %>


            <% end %>
          </div>
          <h5 style="color:grey" class="pull-left"><%= review.user.email %></h5>
          <h5 style="color:grey" class="pull-right"><%= time_ago_in_words(review.created_at) %> ago</h5>
        </div>

      </div>
    <% end %>
  </div>
</div>
