<div class="row">

  <div class="col-sm-6">
    <div class="card bg-shadow">
      <div class="card-body">
        <h6 class="card-title"><strong>Categories</strong></h6>
        <p class="card-text">The distribution of each category based on aggreated ratings.</p>
        <% if total_keys_and_values.present? %>
          <% total_keys_and_values.sort.each do |k,v| %>
            <div class="barChart">
              <div class="barChart__row" data-value="100">
                <h6 class="card-text"><%= k %></h6>
                <div class="barChart__row" data-value= <%= ((v.to_f / show_value) * 100).round(0) rescue 0 %> >
                  <span class="barChart__value"><p class="card-text"><%= ((v.to_f / show_value) * 100).round(0) rescue 0 %></p></span>
                  <span class="barChart__bar"><span class="barChart__barFill"></span>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= image_tag ("missing.png"), class:"img-fluid" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card bg-shadow">
      <div class="card-body">
        <h6 class="card-title"><strong>Ranking</strong></h6>
        <p class="card-text">The distribution of each star used to rate category.</p>
        <% if each_review_value.present? %>
          <% each_review_value.sort.each do |k,v| %>
            <div class="barChart">
              <div class="barChart__row" data-value="100">
                <h6 class="card-text"><%= k rescue 0 %> <%= image_tag('star-on.png', style: "zoom:50%;") %></h6>

                <div class="barChart__row" data-value= <%= ((v.to_f / count_values.to_f) * 100).to_i rescue 0 %> >
                  <span class="barChart__value"><p class="card-text"><%= ((v.to_f / count_values.to_f) * 100).to_i rescue 0 %></p></span>
                  <span class="barChart__bar"><span class="barChart__barFill"></span>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= image_tag ("missing.png"), class:"img-fluid" %>
        <% end %>
      </div>
    </div>
  </div>

</div>
