<%= form_for([current_account, set_project, @item]) do |f| %>
  <%= f.hidden_field :project_id %>
  <div class="control">
    <%= f.text_field :name, placeholder: 'name', label: false, class: "input is-medium" %>
  </div>
  <br>
  <div class="control">
    <%= f.text_field :content, placeholder: 'content', label: false, class: "input is-medium"  %>
  </div>
  <br>

  <%= f.button :submit, class: "button is-primary" %>

<% end %>
