<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">item</p>
      <p class="level-item has-text-centered title">
        <%= link_to @item.name, account_project_item_path(current_account, set_project, @item) %>
      </p>
    </div>
  </div>
</nav>

<%= form_for([current_account, set_project, @item]) do |f| %>
  <div class="columns formly">
    <div class="column is-2"></div>
    <div class="column is-8">
      <div class="field">
        <%= f.hidden_field :project_id %>
        <div class="control">
          <%= f.text_field :name, placeholder: 'name', label: false, class: "input is-medium" %>
        </div>
        <br>
        <div class="control">
          <%= f.text_field :content, placeholder: 'content', label: false, class: "input is-medium"  %>
        </div>
      </div>
    </div>
    <div class="column is-2"></div>
  </div>

  <div class="row">
    <%= f.fields_for :details do |detail| %>
      <%= render "detail_fields", f: detail %>
    <% end %>
  </div>

  <hr>
  <div class="row">
    <p class="subtitle has-text-centered"><%= link_to_add_association 'add detail', f, :details %></p>

    <div class="has-text-centered">
      <%= f.submit "change it", class: "button is-primary" %>
      <%= link_to "never mind", :back, class: "button is-warning" %>
    </div>
  </div>
<% end %>


<div class="has-text-centered">
  <p class="subtitle">or, you can make this go away:</p>
  <li><%= link_to "yes, yes just remove it", [current_account, set_project, @item], method: :delete, data: { confirm: "Are you sure you want to remove this?"}, class: "button is-danger" %></li>
</div>
