<div class="row text-center">
  <h1><%= @item.name %></h1>
</div>

<div class="row">
  <%= form_for([current_account, set_project, @item], html: { multipart: true, class: "dropzone"}) do |f| %>

    <div class="formly text-center">
      <h2>edit item</h2>
      <br>
      <%= f.hidden_field :project_id %>
      <div class="control">
        <%= f.text_field :name, placeholder: 'name', label: false, class: "input " %>
      </div>
      <br>
      <div class="control">
        <%= f.text_field :content, placeholder: 'content', label: false, class: "input"  %>
      </div>
      <div class="control-image">
        <%= f.file_field :image, class: "pull-right" %>
      </div>
    </div>
    <br>
    <div class="links text-center">
      <h3><%= link_to_add_association '+ add detail', f, :details %></h3>
    </div>


      <%= f.fields_for :details do |detail| %>
        <%= render "detail_fields", f: detail %>
      <% end %>


    <div class="row text-center">
      <%= f.submit "change it", class: "btn btn-default btn-lg" %>
      <%= link_to "never mind", account_project_item_path(current_account, set_project, @item), class: "btn btn-warning btn-lg" %>
      <hr>
      <h4>or, you can make this go away:</h4>
      <br>
      <li><%= link_to "remove it", [current_account, set_project, @item], method: :delete, data: { confirm: "Are you sure you want to remove this?"}, class: "btn btn-danger btn-lg" %></li>
    </div>
  <% end %>
</div>
