<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h1 class="text-center "><%= link_to @project.title, account_project_path(current_account, @project) %></h1>
  </div>
  <div class="col-md-2"></div>
</div>

<br>

<%= form_for([current_account, @project, @item]) do |f| %>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="formly text-center">
      <h2>new item</h2>
      <br>
      <%= f.hidden_field :project_id %>
      <div class="control">
        <%= f.text_field :name, placeholder: 'name', label: false, class:"input" %>
      </div>
      <br>
      <div class="control">
        <%= f.text_area :content, placeholder: 'content', label: false, class:"input" %>
      </div>
      <br>
      <div class="control">
        <%= f.file_field :image %>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>


<div class="row">
  <div class="links text-center">
    <h3><%= link_to_add_association '+ add detail', f, :details %></h3>
  </div>
</div>

<div class="row">
<%= f.fields_for :details do |detail| %>
  <%= render "detail_fields", f: detail %>
<% end %>
</div>
<br>
<div class="row text-center">
  <%= f.submit "make new item", class:"btn btn-primary btn-lg" %>
  <%= link_to "never mind", :back, class: "btn btn-warning btn-lg" %>
</div>
<% end %>
