<div class="field">
  <%= form_for([current_account, @project, @item]) do |f| %>
    <%= f.hidden_field :project_id %>
    <div class="control">
      <%= f.text_field :name, placeholder: 'name', label: false, class:"input is-medium" %>
    </div>
    <br>
    <div class="control">
      <%= f.text_field :content, placeholder: 'content', label: false, class:"input is-medium" %>
    </div>
    <br>
    <div>
      <div id="details">
        <%= f.fields_for :details do |detail| %>
          <%= render "detail_fields", f: detail %>
        <% end %>

        <div class="links">
          <%= link_to_add_association 'add detail', f, :details %>
        </div>
      </div>
    </div>

    <%= f.button :submit, class:"button is-primary" %>
  <% end %>
