<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="text-center "><%= link_to @project.title, account_project_path(current_account, @project) %></h1>
    <h4><small><%= @project.description %></small></h4>
  </div>
  <div class="col-md-2"></div>
</div>

<br>

<%= form_for([current_account, @project, @item], html: { multipart: true, class: "dropzone"}) do |f| %>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="field">
      <%= f.hidden_field :project_id %>
      <div class="control">
        <%= f.text_field :name, placeholder: 'name', label: false %>
      </div>
      <br>
      <div class="control">
        <%= f.text_area :content, placeholder: 'content', label: false %>
      </div>
      <div class="control">
        <%= f.file_field :image %>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<%= f.fields_for :details do |detail| %>
<div class="row">
  <div class="col-xs-6 col-md-4">
    <%= render "detail_fields", f: detail %>
  </div>
</div>
<% end %>
<div class="links">
  <p class="subtitle has-text-centered"><%= link_to_add_association '+ add detail', f, :details %></p>
</div>
<br>
<div class="has-text-centered">
  <%= f.submit "make new item", class:"button is-primary" %>
  <%= link_to "never mind", :back, class: "button is-warning" %>
</div>
<% end %>
