<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">project</p>
      <p class="level-item has-text-centered title">
        <%= link_to @project.title, account_project_path(current_account, @project) %>
      </p>
    </div>
  </div>
</nav>

<%= form_for([current_account, @project, @item]) do |f| %>
<div class="columns formly">
  <div class="column is-2"></div>
  <div class="column is-8">
    <div class="field">
      <%= f.hidden_field :project_id %>
      <div class="control">
        <%= f.text_field :name, placeholder: 'name', label: false, class:"input is-medium" %>
      </div>
      <br>
      <div class="control">
        <%= f.text_area :content, placeholder: 'content', label: false, class:"input is-medium" %>
      </div>
    </div>
  </div>
  <div class="column is-2"></div>
</div>

<%= f.fields_for :details do |detail| %>
<div class="row">
  <div class="col-xs-6 col-md-4">
    <%= render "detail_fields", f: detail %>
  </div>
</div>
<% end %>
<div class="links">
  <p class="subtitle has-text-centered"><%= link_to_add_association '+ add detail', f, :details %></p>
</div>
<br>
<div class="has-text-centered">
  <%= f.submit "make new item", class:"button is-primary" %>
  <%= link_to "never mind", :back, class: "button is-warning" %>
</div>
<% end %>
