<% @title = @item.name %>

<%= link_to account_project_path(current_account, set_project) do %>
  <div class="formy-back">
     <p class="formy-back-title"><%= set_project.title %> > <%= link_to "items", account_project_items_path(current_account, set_project, @items) %></p>
   </div>
<% end %>

<div class="item-formy">
  <div class="row">
    <% total = [] %>
    <% @item.reviews.each do |review| %>
      <% keys = [] %>
      <% values = [] %>
      <% review.properties.each do |name, value| %>
        <% keys << name %>
        <% values << value.to_i %>
      <% end %>
      <% total << (values.sum.to_f / keys.uniq.size).round rescue 0 %>
    <% end %>
    <span class="star-rating item-rating" data-score= <%= (total.sum.to_f / @item.reviews.count).round rescue 0 %>, style= "zoom:35%;" ></span>

  </div>
  <%= render "header" %>
</div>

  <div class="row">
    <% if @item.reviews.present? %>
      <%= render "stats" %>
    <% end %>
  </div>

<br>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <% if @item.reviews.present? %>
      <%= render "reviews" %>
    <% else %>
      <div class="boxyy text-center">
        <h2 style="color:grey;">No reviews yet</h2>
        <%= render "current_user_review" %>
      </div>
    <% end %>
  </div>
  <div class="col-md-1"></div>
</div>

<div id="product-modal" class="modal"></div>
