<div class="row">
  <div class="col-md-5">
    <%= link_to account_project_path(current_account, set_project) do %>
      <span class="fa fa-arrow-left fa-2x"></span>
    <% end %>

    <h1><%= @item.name %> <%= link_to "edit", edit_account_project_item_path(current_account, set_project, @item), class: "btn btn-default pull-right" %></h1>
    <h3><small><%= @item.content %></small></h3>
    <br>
    <% if item_average_rating.present? %>
      <h5><strong> Item's rating</strong> </h5>
      <div class="star-rating has-text-centered" data-score= <%= item_average_rating %> ></div>
    <% else %>
      <p class="heading has-text-centered">No reviews yet</p>
    <% end %>
    <br>
    <% if total_reviews > 1 %>
      <h5><strong><%= total_reviews %> reviews</strong></h5>
    <% else %>
        <h5><strong><%= total_reviews %> review</strong></h5>
    <% end %>
    <br>
    <%= render "stats" %>

  </div>
  <div class="col-md-1"></div>
  <div class="col-md-6">
    <%= image_tag(@item.image.url(:xlarge), class: "img-responsive img-rounded") %>
  </div>
</div>

<br>

<div class="row">
  <h4 class="text-center">
    <% if @item.details.count > 1 %>
      <%= @item.details.count %> categories
    <% else %>
      <%= @item.details.count %> category
    <% end %>
  </h4>
  <% @item.details.each do |detail| %>
    <div class="col-xs-6 col-md-4">
      <div class="boxy">
        <h4><%= link_to content_tag(:span, detail.name), account_project_item_detail_path(current_account, set_project, @item, detail) %></h4>
        <br>
        <h5><%= detail.description %></h5>
        <br>
        <% detail.reviews.last(1).each do |review| %>
          <strong>latest rating</strong>
          <div class="star-rating" data-score= <%= review.value %> ></div>
          <small><%= time_ago_in_words(review.created_at) %> ago</small>
        <% end %>
        <br>

        <% total_rv = [] %>
        <% detail.reviews.each do |review| %>
          <% total_rv << review.value %>
        <% end %>
        <strong>Average ratings</strong>
        <% if total_rv.any? %>
          <div class="star-rating" data-score= <%= total_rv.sum / total_rv.count %> ></div>
        <% else %>
          <strong>Nothing yet</strong>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
