<% @title = @item.name %>



<div class="item_formy">
  <%= link_to account_project_path(current_account, set_project) do  %>
    <span class="fa fa-arrow-left"></span>
  <% end %>
  <% if @project.user_id == current_user.id %>
    <%= link_to edit_account_project_item_path(current_account, set_project, @item), remote: true do  %>
      <span class="fa fa-ellipsis-h pull-right"></span>
    <% end %>
  <% end %>
  <% total = [] %>
  <% @item.reviews.each do |review| %>
    <% keys = [] %>
    <% values = [] %>
    <% review.properties.each do |name, value| %>
      <% keys << name %>
      <% values << value.to_i %>
    <% end %>
    <% total << (values.sum.to_f / keys.uniq.size).round rescue 0 %>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <p class="item_name">
        <%= @item.name %>
        <span class="star-rating item_rating" data-score= <%= (total.sum.to_f / @item.reviews.count).round rescue 0 %>, style= "zoom:70%;" ></span>
      </p>
      <p class="item_description">
        <%= @item.content %>
      </p>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <% url = generate_url_attributes_preview(@item.link) %>
      <% if !url.empty? %>
        <%= image_tag(url, :size => '250x250') %>
      <% end %>
    </div>
    <div class="col-md-8">
      <%= render "header" %>
    </div>
  </div>

  <div class="row">
    <% if @item.reviews.present? %>
      <%= render "stats" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <% if @item.reviews.present? %>
      <%= render "reviews" %>
    <% else %>
      <div class="boxyy text-center">
        <h2 style="color:grey;">No reviews yet</h2>
        <%= render "current_user_review" %>
      </div>
    <% end %>
  </div>
  <div class="col-md-1"></div>
</div>

<div id="product-modal" class="modal"></div>
