<div class="columns">
  <div class="column is-3">
    <p class="title"><%= link_to set_project.title, account_project_path(current_account, set_project) %></p>
    <p class="title"><%= @item.name %></p>
    <p class="subtitle"><%= @item.content %></p>
    <%= link_to "Edit", edit_account_project_item_path(current_account, set_project, @item), class: "button is-success" %>
    <%= link_to "Delete", [current_account, set_project, @item], method: :delete, data: { confirm: "Are you sure you want to remove this?"}, class: "button is-warning" %>
  </div>
  <div class="column is-9">
    <% @item.details.each do |detail| %>
      <p class="title is-6"><%= detail.name %></p>
      <p class="subtitle is-6"><%= detail.description %></p>
      <%= link_to "Rate it", new_account_project_item_detail_review_path(current_account, set_project, @item, detail), class: "button is-primary" %>
      <hr>
    <% end %>
  </div>
</div>
