
<div class="row">
  <div class="col-md-8">

    <%= render "header" %>
    <%= render "details" %>
    <br>
    <%= image_tag(@item.image.url(:xlarge), class: "img-responsive img-rounded") %>

    <br>
    <%= render "stats" %>
    <br>
    <%= render "more_stats" %>
  </div>
  <div class="col-md-1"></div>

  <div class="col-md-3">

    <%= render "current_user_review" %>

    <% if @item.reviews.present? %>
      <%= render "reviews" %>
    <% end %>
  </div>

<div id="product-modal" class="modal fade"></div>

</div>
