<div class="row">

  <div class="dropdown-container">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <h1 class="text-center"><%= @item.name %></h1>
    </a>
    <li>
      <h5 class="text-center">
        <% if item_average_rating.present? %>
          <div class="star-rating" data-score= <%= item_average_rating %> ></div>
        <% else %>
          <h5>No reviews yet</h5>
        <% end %>
      </h5>

    </li>
    <ul class="dropdown-menu">
      <li><a href="#"> <%= link_to set_project.title, account_project_path(current_account, set_project) %></a></li>
      <% if set_project.user_id == current_user.id %>
        <li role="separator" class="divider"></li>
        <li>
          <%= link_to "edit", edit_account_project_item_path(current_account, set_project, @item) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= image_tag(@item.image.url(:xlarge), class: "img-responsive img-rounded") %>
  </div>
  <br>

  <div class="col-md-6">
    <%= render "stats" %>
  </div>
</div>

<br>
<% if set_project.user_id == current_user.id %>
<div class="row">
  <div class="col-md-3 col-xs-6">
    <div class="tile">
      <h5> Reviewers: <%= all_reviewers %></h5>
    </div>
  </div>
  <div class="col-md-3 col-xs-6">
    <div class="tile">
      <% if total_reviews > 1 %>
        <h5>reviews: <strong><%= total_reviews %> </strong></h5>
      <% else %>
          <h5>review: <strong><%= total_reviews %> </strong></h5>
      <% end %>
    </div>
  </div>
  <div class="col-md-3 col-xs-6">
    <div class="tile">
      <h5>
        <% if @item.details.count > 1 %>
          categories: <%= @item.details.count %>
        <% else %>
          category: <%= @item.details.count %>
        <% end %>
      </h5>
    </div>
  </div>
  <div class="col-md-3 col-xs-6">
    <div class="tile">

      <li>
        <h5>added <%= time_ago_in_words(@item.created_at) %> ago </h5>
      </li>
      <li>
        <h5>last update <%= time_ago_in_words(@item.updated_at) %> ago </h5>
      </li>
    </div>
  </div>
</div>
<% end %>

<div class="row">
  <h3 class="text-center">Description</h3>
  <div class="">
    <p><small><%= @item.content %></small></p>
  </div>
</div>


<div class="row">
  <div style="overflow-x:auto;">
    <table>
      <tr>
        <th>name</th>
        <!-- <th>latest rating</th> -->
        <th>rating</th>
        <th></th>
      </tr>

      <% set_item.details.each do |detail| %>
      <tr>
        <td><h4><%= link_to detail.name, account_project_item_detail_path(current_account, set_project, @item, detail) %></h4></td>
        <td>
          <div class="review-index">
            <% total_rv = [] %>
            <% detail.reviews.each do |review| %>
              <% total_rv << review.value %>
            <% end %>
            <% if total_rv.any? %>
              <div class="star-rating" style="zoom: 125%" data-score= <%= total_rv.sum / total_rv.count %> ></div>
            <% else %>
              <strong>Nothing yet</strong>
            <% end %>
          </div>
        </td>
        <td>
          <%= link_to "Rate it", new_account_project_item_detail_review_path(current_account, set_project, @item, detail), remote: true, class:"btn btn-default btn-xs" %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<div id="review-modal" class="modal"></div>


<%= reviewers %>
<!-- <div class="row">
  <h4 class="text-center">
    <% if @item.details.count > 1 %>
      categories
    <% else %>
      category
    <% end %>
  </h4>
  <% @item.details.each do |detail| %>
    <div class="col-xs-6 col-md-4">
      <div class="boxy">
        <h4><%= link_to detail.name, account_project_item_detail_path(current_account, set_project, @item, detail) %></h4>
        <br>
        <h5><%= detail.description %></h5>
        <br>
        <% detail.reviews.last(1).each do |review| %>
          <strong>latest rating</strong>
          <div class="star-rating" data-score= <%= review.value %> ></div>
          <small><%= time_ago_in_words(review.created_at) %> ago</small>
        <% end %>
        <br>

        <% total_rv = [] %>
        <% detail.reviews.each do |review| %>
          <% total_rv << review.value %>
        <% end %>
        <strong>Average ratings</strong>
        <% if total_rv.any? %>
          <div class="star-rating" data-score= <%= total_rv.sum / total_rv.count %> ></div>
        <% else %>
          <strong>Nothing yet</strong>
        <% end %>
        <%= link_to "Rate the detail", new_account_project_item_detail_review_path(current_account, set_project, @item, detail), class:"btn btn-default btn-xs" %>
      </div>
    </div>
  <% end %>
</div> -->
