
<% @title = @project.title + " - " + @item.name %>
<br>
<div class="row">

  <div class="col-sm-3">
    <div class="card bg-shadow">
      <%= image_tag @item.image, class: "img-fluid", id:"myImg" %>
      <div class="card-body">
        <h5 class="card-title">
          <strong><%= @item.name %></strong>
          <%= link_to edit_account_project_item_path(current_account, @project, @item), remote: true do %>
            <i class="fas fa-cog"></i>
          <% end %>
        </h5>
        <%= render "overall-rating" %>
        <p class="card-text"><%= sanitize @item.content %></p>
        <p class="card-text"><small>back to <%= link_to "items", account_project_items_path(current_account, @project, @items) %></small></p>
      </div>
    </div>

  </div>

  <div class="col-sm-9">
    <%= render "stats" %>

    <br>
    <% if @item.reviews.present? %>
      <%= render "reviews" %>
    <% else %>
      <div class="boxyy text-center">
        <h2 style="color:grey;">No reviews yet</h2>
        <%= render "current_user_review" %>
      </div>
    <% end %>

  </div>
</div>


<div id="product-modal" class="modal"></div>
<div id="item-modal" class="modal"></div>
