
<% @title = @item.name %>
<br>
<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <%= image_tag @item.image, class: "img-fluid" %>
      <div class="card-body">
        <h5 class="card-title"><%= @item.name %></h5>
        <%= render "overall-rating" %>
        <p class="card-text"><%= sanitize @item.content %></p>
        <p class="card-text">back to <%= link_to "items", account_project_items_path(current_account, @project, @items) %></p>

      </div>
    </div>
  </div>
  <div class="col-sm-9">

    
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <% if total_keys_and_values.present? %>
              <% total_keys_and_values.sort.each do |k,v| %>
                <div class="barChart">
                  <div class="barChart__row" data-value="100">
                    <div class="col-md-1">
                      <li><span class="barChart__label"><%= k %></span></li>
                    </div>
                    <div class="col-md-9">
                      <div class="barChart__row" data-value= <%= ((v.to_f / show_value) * 100).round(0) rescue 0 %> >
                        <span class="barChart__value"><h5><small><%= ((v.to_f / show_value) * 100).round(0) rescue 0 %>%</small></h5></span>
                        <span class="barChart__bar"><span class="barChart__barFill"></span></span>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <% if each_review_value.present? %>
              <% each_review_value.sort.each do |k,v| %>
                <div class="barChart">
                  <div class="barChart__row" data-value="100">
                    <div class="col-md-1 col-sm-1">
                      <% if k != 0 %>
                        <span class="barChart__label"><%= k %> <%= image_tag('star-on.png', style: "zoom:50%;") %></span>
                    </div>
                    <div class="col-md-9 col-sm-8">
                        <div class="barChart__row" data-value= <%= ((v.to_f / count_values.to_f) * 100).to_i rescue 0 %> >
                          <span class="barChart__value"><h5><small><%= ((v.to_f / count_values.to_f) * 100).to_i rescue 0 %>%</small></h5></span>
                          <span class="barChart__bar"><span class="barChart__barFill"></span></span>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <br>
    <% if @item.reviews.present? %>
      <%= render "reviews" %>
    <% else %>
      <div class="boxyy text-center">
        <h2 style="color:grey;">No reviews yet</h2>
        <%= render "current_user_review" %>
      </div>
    <% end %>

  </div>
</div>


<div id="product-modal" class="modal"></div>
