<div class="row">
  <div class="col-md-8">
    <%= render "header" %>
    <br>
    <%= render "stats" %>
    <br>
    <%= render "more_stats" %>
  </div>

  <div class="col-md-1"></div>
  <div class="col-md-3">

    <%= render "current_user_review" %>
    <% if @item.reviews.present? %>
      <%= render "reviews" %>
    <% end %>
  </div>
</div>

<div id="product-modal" class="modal fade"></div>
