<p class="heading has-text-centered">Back to project <%= link_to set_project.title, account_project_path(current_account, set_project) %></p>

<p class="title is-2 has-text-centered"><%= @item.name %></p>

<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="level-item has-text-centered header">
        "<%= @item.content.first(50) %> ..."
      </p>
    </div>
  </div>
</nav>

<% tar = [] %>
<% total_average_ratings = [] %>
<% @item.details.each do |detail| %>
  <% total_rv = [] %>
  <% detail.reviews.each do |review| %>
    <% total_rv << review.value %>
    <% total_average_ratings = total_rv.sum / total_rv.count %>
  <% end %>
  <% tar << total_average_ratings %>
<% end %>

<% if total_average_ratings.nil? %>
  <p class="heading has-text-centered">No reviews yet</p>
<% else %>
  <p class="heading has-text-centered"> Item's rating </p>
  <div class="star-rating has-text-centered" data-score= <%= tar.sum / @item.details.count %> ></div>
<% end %>
<br>

<nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p class="title"><%= link_to "settings", edit_account_project_item_path(current_account, set_project, @item), class: "button is-small is-info" %>
    </div>
  </div>
</nav>

<hr>

<p class="header has-text-centered">all details</p>
<div class="row">
  <% @item.details.each do |detail| %>
    <div class="col-md-4">
      <div class="item">
        <strong><%= link_to content_tag(:span, detail.name), account_project_item_detail_path(current_account, set_project, @item, detail) %></strong>
        <br>
        <p class="subtitle is-6 "><%= detail.description %></p>
        <hr>
        <% detail.reviews.last(1).each do |review| %>
          <p class="heading">latest rating</p>
          <div class="star-rating" data-score= <%= review.value %> ></div>
          <p class='heading'><%= time_ago_in_words(review.created_at) %> ago</p>

        <% end %>
        <br>
        <% total_rv = [] %>
        <% detail.reviews.each do |review| %>
          <% total_rv << review.value %>
        <% end %>
        <p class="heading">Average ratings</p>
        <% if total_rv.any? %>
          <div class="star-rating" data-score= <%= total_rv.sum / total_rv.count %> ></div>
        <% else %>
          <p class="heading">Nothing yet</p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
