
  <% if @item.present? %>
    <% @title = @item.name %>

    <div class="jumbotron jumbotron-background">
      <div class="row">
        <div class="col-md-7">
          <p class="item-exit"><%= link_to "items", account_project_items_path(current_account, @project, @items) %></p>
          <p class="item-name">
            <%= @item.name %>
            <% if @project.user_id == current_user.id %>
              <%= link_to edit_account_project_item_path(current_account, @project, @item), remote: true do  %>
                <span class="fa fa-ellipsis-h"></span>
              <% end %>
            <% end %>
          </p>
          <p ><%= sanitize @item.content %></p>

          <%= render "overall-rating" %>
          <hr>
          <% if @item.reviews.present? %>
            <%= render "stats" %>
          <% end %>
          <hr>

          <% if @item.reviews.present? %>
            <%= render "reviews" %>
          <% else %>
            <div class="boxyy text-center">
              <h2 style="color:grey;">No reviews yet</h2>
              <%= render "current_user_review" %>
            </div>
          <% end %>
        </div>



        <div class="col-md-5">
          <%= image_tag @item.image, class: "img-fluid img-height" %>
        </div>
      </div>
    </div>



    <div id="product-modal" class="modal"></div>
  <% end %>
