<% @title = @item.name %>
<br>

<div class="formy">
  <div class="row">
    <div class="col-md-5">
      <% url = generate_url_attributes_preview(@item.link) %>
      <% if !url.empty? %>
        <%= image_tag(url, class: "img-responsive") %>
      <% end %>
    </div>
    <div class="col-md-7">
        <%= render "header" %>
    </div>
  </div>
  <div class="row">
    <% if @item.reviews.present? %>
      <%= render "stats" %>
    <% end %>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <% if @item.reviews.present? %>
      <%= render "reviews" %>
    <% else %>
      <div class="boxyy text-center">
        <h2 style="color:grey;">No reviews yet</h2>
        <%= render "current_user_review" %>
      </div>
    <% end %>
  </div>
  <div class="col-md-1"></div>
</div>

<div id="product-modal" class="modal"></div>
