
<% @title = @project.title + " - " + @item.name %>
<br>
<div class="row">

  <div class="col-sm-3">
    <div class="card">
      <%= image_tag @item.image, class: "img-fluid", id:"myImg" %>
      <div class="card-body">
        <h5 class="card-title">
          <strong><%= @item.name %></strong>
          <%= link_to edit_account_project_item_path(current_account, @project, @item), remote: true do %>
            <i class="fas fa-cog"></i>
          <% end %>
        </h5>
        <%= render "overall-rating" %>
        <p class="card-text"><%= sanitize @item.content %></p>
        <p class="card-text"><small>back to <%= link_to "items", account_project_items_path(current_account, @project, @items) %></small></p>
      </div>
    </div>

  </div>

  <div class="col-sm-9">
    <%= render "stats" %>

    <br>
    <% if @item.reviews.present? %>
      <%= render "reviews" %>
    <% else %>
      <div class="boxyy text-center">
        <h2 style="color:grey;">No reviews yet</h2>
        <%= render "current_user_review" %>
      </div>
    <% end %>

  </div>
</div>

<!-- Trigger the Modal -->

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>

<div id="product-modal" class="modal"></div>
<div id="item-modal" class="modal"></div>

<script>
  // Get the modal
  var modal = document.getElementById('myModal');

  // Get the image and insert it inside the modal - use its "alt" text as a caption
  var img = document.getElementById('myImg');
  var modalImg = document.getElementById("img01");
  var captionText = document.getElementById("caption");
  img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
  }

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
  modal.style.display = "none";
}
