<p class="heading has-text-centered">Back to project <%= link_to set_project.title, account_project_path(current_account, set_project) %></p>
<p class="title is-2 has-text-centered"><%= @item.name %></p>
<hr>
<div class="columns">
  <div class="column is-6">

    <nav class="level">
      <div class="level-item">
        <div>
          <p class="level-item has-text-centered header">
            "<%= @item.content.first(50) %> ..."
          </p>
        </div>
      </div>
    </nav>

    <% if @item.details.count > 1 %>
      <p class="header has-text-centered ">categories </p><p class="title has-text-centered"><%= @item.details.count %></p>
    <% else %>
      <p class="header has-text-centered ">category </p><p class="title has-text-centered"><%= @item.details.count %></p>
    <% end %>

    <% if item_average_rating.present? %>
      <p class="heading has-text-centered"> Item's rating </p>
      <div class="star-rating has-text-centered" data-score= <%= item_average_rating %> ></div>
    <% else %>
      <p class="heading has-text-centered">No reviews yet</p>
    <% end %>
    <br>

    <nav class="level is-mobile">
      <div class="level-item has-text-centered">
        <div>
          <%= link_to edit_account_project_item_path(current_account, set_project, @item) do %>
            <span class="fa fa-pencil fa-2x"></span>
          <% end %>
        </div>
      </div>
    </nav>

  </div>

  <div class="column is-6">
    <% if total_reviews > 1 %>
      <p class="header has-text-centered"><%= total_reviews %> reviews</p>
    <% else %>
      <p class="header has-text-centered"><%= total_reviews %> review</p>
    <% end %>
    <br>
    <%= render "stats" %>
  </div>
</div>

<p class="title is-5 has-text-centered">categories</p>
<br>
<div class="row">
  <% @item.details.each do |detail| %>
    <div class="col-xs-6 col-md-4 padding0">
      <div class="box">
        <strong><%= link_to content_tag(:span, detail.name), account_project_item_detail_path(current_account, set_project, @item, detail) %></strong>
        <br>
        <p class="subtitle is-6 "><%= detail.description %></p>
        <hr>
        <% detail.reviews.last(1).each do |review| %>
          <p class="heading">latest rating</p>
          <div class="star-rating" data-score= <%= review.value %> ></div>
          <p class='heading'><%= time_ago_in_words(review.created_at) %> ago</p>
        <% end %>
        <br>

        <% total_rv = [] %>
        <% detail.reviews.each do |review| %>
          <% total_rv << review.value %>
        <% end %>
        <p class="heading">Average ratings</p>
        <% if total_rv.any? %>
          <div class="star-rating" data-score= <%= total_rv.sum / total_rv.count %> ></div>
        <% else %>
          <p class="heading">Nothing yet</p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
