<div class="row">

  <div class="dropdown-container">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <h1 class="text-center"><%= @item.name %></h1>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#"> <%= link_to set_project.title, account_project_path(current_account, set_project) %></a></li>
      <li role="separator" class="divider"></li>
      <li>
        <%= link_to "edit", edit_account_project_item_path(current_account, set_project, @item) %>
      </li>
    </ul>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4"><%= render "stats" %></div>

  <div class="col-md-4">
    <ul>
      <li>
        <h5>
          Rating: <% if item_average_rating.present? %>
            <div class="star-rating" data-score= <%= item_average_rating %> ></div>
          <% else %>
            <h5>No reviews yet</h5>
          <% end %>
        </h5>

      </li>
      <br>
      <li>
        <h5> Reviewers: <%= all_reviewers %></h5>
      </li>
      <br>
      <li>
        <% if total_reviews > 1 %>
          <h5>reviews: <strong><%= total_reviews %> </strong></h5>
        <% else %>
            <h5>review: <strong><%= total_reviews %> </strong></h5>
        <% end %>
      </li>
      <br>
      <li>
        <h5>
          <% if @item.details.count > 1 %>
            categories: <%= @item.details.count %>
          <% else %>
            category: <%= @item.details.count %>
          <% end %>
        </h5>
      </li>
      <br>
      <li>
        <h5>added <%= time_ago_in_words(@item.created_at) %> ago </h5>
      </li>
      <br>
      <li>
        <h5>last update <%= time_ago_in_words(@item.updated_at) %> ago </h5>
      </li>
      <br>
    </ul>
  </div>
  <div class="col-md-2"></div>
</div>

<br>

<div class="row">
  <div class="col-md-5">
    <h3><small><%= @item.content %></small></h3>
  </div>
  <br>
  <div class="col-md-1"></div>
  <div class="col-md-6">
    <%= image_tag(@item.image.url(:xlarge), class: "img-responsive img-rounded") %>
  </div>
</div>

<hr>

<div class="row">
  <h4 class="text-center">
    <% if @item.details.count > 1 %>
      categories
    <% else %>
      category
    <% end %>
  </h4>
  <% @item.details.each do |detail| %>
    <div class="col-xs-6 col-md-4">
      <div class="boxy">
        <h4><%= link_to content_tag(:span, detail.name), account_project_item_detail_path(current_account, set_project, @item, detail) %></h4>
        <br>
        <h5><%= detail.description %></h5>
        <br>
        <% detail.reviews.last(1).each do |review| %>
          <strong>latest rating</strong>
          <div class="star-rating" data-score= <%= review.value %> ></div>
          <small><%= time_ago_in_words(review.created_at) %> ago</small>
        <% end %>
        <br>

        <% total_rv = [] %>
        <% detail.reviews.each do |review| %>
          <% total_rv << review.value %>
        <% end %>
        <strong>Average ratings</strong>
        <% if total_rv.any? %>
          <div class="star-rating" data-score= <%= total_rv.sum / total_rv.count %> ></div>
        <% else %>
          <strong>Nothing yet</strong>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
