<p id="notice"><%= notice %></p>

<%= image_tag(@photo.image_url, :size => "100x100") %>
<p>
  <strong>Image data:</strong>
  <%= @photo.image %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %>
<%= link_to 'Back', photos_path %>
