<%= div_for @challenge do %>
<div class="formy">
  <%= image_tag @challenge.picture, class: "img-responsive" %>
  <p class="challenge-name"><%= @challenge.name %></p>
  <p class="challenge-description"><%= @challenge.description %></p>
  <% if @challenge.due_date.present? %>
    <p class="challenge-description"><%= @challenge.due_date.strftime("%B %d, %Y") %></p>
  <% end %>
  <li class="dropdown pull-right">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <icon class="fa fa-ellipsis-h"></icon>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
      <li><%= link_to "edit", edit_account_project_challenge_path(current_account, @project, @challenge), remote: true %>
      <li><%= link_to "remove", account_project_challenge_path(current_account, @project, @challenge), method: :delete, data: {confirm: "Are you sure?"}, remote: true %></li>
    </ul>
  </li>
</div>
<% end %>
