<%= form_for([current_account, @project, @challenge], remote: true) do |f| %>
  <div class="formly" id="current-pane">
    <div class="row">
      <%= f.hidden_field :project_id %>
      <%= f.text_field :name, placeholder: 'name the challenge', autofocus: true, label: false, class: "input ", :size => 40 %>
      <br>
      <%= f.text_field :description, placeholder: 'content', label: false, autofocus: true, class: "extra-input", :size => 40  %>
      <br>
      <%= f.text_field :due_date, placeholder: "due dates" , id:"due-date", class: "extra-input" %>
      <br>
      <%= f.file_field :picture, class: "dropzone" %>
      <br>
    </div>
    <br>
    <div class="row">
      <div class="pull-right">
        <%= f.submit "create challenge", class:"btn btn-success" %>
        <button href="#current-pane" class="btn btn-default" data-dismiss="alert" aria-label="close" id="hide">close</button>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(function (){
    $('#due-date').datepicker();
  });
</script>
