<% @title= "Project: " + @project.title + " - challenges"  %>
<div class="card w-50 centered">
  <div class="card-body">
    <h5 class="card-title">Challenges</h5>
    <p class="card-text"><%= link_to @project.title, account_project_path(current_account, @project) %></p>
    <%= link_to '+ New', new_account_project_challenge_path(current_account, @project, @challenge), class:"btn btn-success og-challenge-button", remote: true %>
  </div>
</div>

<div class="new-challenge-button"></div>
<div class="deck">
  <div id="challenges"></div>
  <%= render @challenges %>
</div>


    <!-- <% @challenge_weeks.each do |week, challenges| %>
      <p class="board-week-header"><%= week.strftime("%B %d %Y") %></p>
      <div class="row">
        <div id="challenges"></div>
        <%= render challenges %>
      </div>
    <% end %>
   -->
