<br>
<div class="formly">
  <%= form_for([current_account, set_project, set_item, @review]) do |f| %>
    <%= f.hidden_field :item_id %>
    <%= f.fields_for :properties, OpenStruct.new(@review.properties) do |builder| %>
      <%= render "rating_field", f: builder %>

    <% end %>
    <br>
    <div class="text-center">
      <%= f.submit "rate", class: "btn btn-default btn-lg " %>
      <%= link_to "cancel", account_project_item_path(current_account, set_project, set_item), class: "btn btn-default btn-lg" %>
    </div>
  <% end %>
</div>
