<div class="modal-dialog">
  <div class="modal-content">

    <%= form_for([current_account, set_project, set_item, @review], remote: true)  do |f| %>
      <div class="modal-body">
        <h4 class="text-center">rate attributes</h4>
        <hr>
        <%= render "shared/errors", obj: @review %>
        <%= f.hidden_field :item_id %>
        <%= f.hidden_field :id %>

        <%= f.fields_for :properties, OpenStruct.new(@review.properties) do |builder| %>
          <%= render "rating_field2", f: builder %>

        <% end %>
        <br>
        <div class="control">
          <h4>in your own words</h4>
          <br>
          <%= f.text_area :description, class:"input", placeholder: "note" %>
        </div>
        <br>
        <div class="text-center">
          <%= f.submit "rate", class: "btn btn-default btn-lg " %>
          <button href="#current-pane" class="btn btn-default btn-xs" data-dismiss="modal" aria-label="close" id="hide">close</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
