<div class="modal-dialog">
  <div class="modal-content modal-enhance">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle"><strong>Rate and Review</strong></h5>
    </div>

    <div class="modal-body">
      <%= form_for([current_account, @project, @item, @review], remote: true)  do |f| %>
        <%= render "shared/errors", obj: @review %>
        <%= f.hidden_field :item_id %>
        <%= f.hidden_field :id %>

        <%= f.fields_for :properties, OpenStruct.new(@review.properties) do |builder| %>
          <%= render "rating_field", f: builder %>
        <% end %>
        <div class="form-group">
          <%= f.text_area :description, class: "form-control", placeholder: "write something to add more details" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger outline" data-dismiss="modal">Close</button>
          <%= f.submit "submit review", class: "btn btn-primary " %>
        </div>
      <% end %>
    </div>


  </div>
</div>
