<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle"><strong>Rate and Review</strong></h5>
    </div>

    <div class="modal-body">
      <%= form_for([current_account, @project, @item, @review], remote: true)  do |f| %>
        <%= render "shared/errors", obj: @review %>
        <%= f.hidden_field :item_id %>
        <%= f.hidden_field :id %>

        <%= f.fields_for :properties, OpenStruct.new(@review.properties) do |builder| %>
          <%= render "rating_field", f: builder %>
        <% end %>

        <%= f.text_area :description, class: "input", placeholder: "write something to add more details" %>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "submit review", class: "btn btn-success " %>
        </div>
      <% end %>
    </div>

 
  </div>
</div>
