<div class="row text-center">
  <h2><%= link_to @detail.name, account_project_item_detail_path(current_account, set_project, set_item, @detail) %></h2>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="formly text-center">
      <h3>edit review</h3>
      <br>
      <%= form_for([current_account, set_project, set_item, @detail, @review]) do |f| %>
        <%= f.hidden_field :detail_id %>
        <div class="control">
          <h5><small>from 1 as being really bad to 5 as being great</small></h5>
          <br>
          <div id="star-rating"></div>
        </div>
        <br>
        <div class="control">
          <h5><small>this is optional, but it'll definitely more flesh out rating</small></h5>
          <br>
          <%= f.text_area :description, class: "input", placeholder: "write away" %>
        </div>
        <br>
        <%= f.submit "change away", class: "btn btn-primary btn-lg" %>
        <%= link_to "never mind", account_project_item_detail_path(current_account, set_project, set_item, @detail), class: "btn btn-danger btn-lg" %>
      <% end %>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
