<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">item</p>
      <p class="level-item has-text-centered title">
        <%= @item.name %>
      </p>
    </div>
  </div>
</nav>

<<div class="columns">
  <div class="column is-3"></div>
  <div class="formly column is-6">
    <%= form_for([current_account, set_project, set_item, @detail, @review]) do |f| %>
      <%= f.hidden_field :detail_id %>
      <div class="control">
        <p class"heading">from 1 as being really bad to 5 as being great</p>
        <div id="star-rating"></div>
      </div>
      <br>
      <div class="control">
        <p class="heading">this is optional, but it'll definitely more flesh out rating</p>
        <%= f.text_area :description, class: "input is-medium" %>
      </div>
      <br>
      <%= f.submit "change away", class: "button is-primary" %>
      <%= link_to "never mind", account_project_item_detail_path(current_account, set_project, set_item, @detail), class: "button is-warning" %>
    <% end %>
  </div>
  <div class="column is-3"></div>
</div>
