<div class="row">
  <div class="box">
    <h1>Reviews</h1>
    <br>
    <h3>Details: <%= count_details %></h3>
    <br>

    <h5>back to <%= link_to set_item.name, account_project_item_path(current_account, set_project, set_item) %></h5>
  </div>
</div>

<div class="row">
  <% set_item.reviews.each do |review| %>
  <div class="col-md-3 col-xs-6">
    <div class="box">
      <% review.properties.each do |name, value| %>
        <h3><%= name %> : <%= value %></h3>
        <br>
        <h5><%= review.user.email %></h5>
      <% end %>
      <% if current_user.id == review.user_id %>
        <%= link_to "edit", edit_account_project_item_review_path(current_account, set_project, @item, review) %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
