<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h6 class="text-center"> item <%= link_to set_item.name, account_project_item_path(current_account, set_project, set_item), class: "link-to-text-color" %></h6>
    <div class="review-header">
      <h2><span> <%= count_reviews %> Reviews</span></h2>

    </div>
  </div>
  <div class="col-md-3"></div>
</div>

<div class="row">
  <% set_item.reviews.each do |review| %>

    <% keys = [] %>
    <% values = [] %>
    <div class="col-md-4 col-sm-4 col-xs-6">
      <div class="box">
        <% review.properties.each do |name, value| %>
          <% keys << name %>
          <% values << value.to_i %>
            <h3><%= name %>  <%= value %> </h3>
        <% end %>

          <% if review.description.present? %>
            <h4><small ><%= review.description %></small></h4>
          <% end %>

        <hr>
        <h3>
          <strong><%= (values.sum.to_f / keys.uniq.size).round %> smiles</strong>
          <small>
            <% if current_user.id == review.user_id %>
              <%= link_to "edit", edit_account_project_item_review_path(current_account, set_project, set_item, review), remote: true, class: "link-to-text-color" %>
              <%= link_to "remove", [current_account, set_project, set_item, review], method: :delete, data: { confirm: "Are you sure you want to remove this?"}, class: "link-to-text-color" %>
            <% end %>
          </small>
        </h3>

        <h6><small>reviewed by </small><%= review.user.email %></h6>

      </div>
    </div>

  <% end %>
</div>

<div id="product-modal" class="modal fade"></div>
<!-- <%  total_keys_and_values.sort.each do |k,v| %>
  <h3><%= k %> is <%= ((v.to_f / show_value) * 100).round(1)  %>%</h3>
<% end %> -->
