<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">item</p>
      <p class="level-item has-text-centered title">
        <%= @item.name %>
      </p>
    </div>
  </div>
</nav>

<div class="columns">
  <div class="column is-3"></div>
  <div class="formly column is-6">
    <%= form_for([current_account, set_project, set_item, @detail, @review]) do |f| %>
      <%= f.hidden_field :detail_id %>
      <div class="control">
        <%= f.text_field :description, placeholder: 'name', class: "input is-medium" %>
      </div>
      <br>
      <div class="control">
        <div id="star-rating"></div>
      
      </div>
      <br>
      <%= f.button :submit, class: "button is-primary is-medium" %>
      <%= link_to "Back", account_project_item_path(current_account, set_project, set_item), class: "button is-warning is-medium" %>
    <% end %>
  </div>
  <div class="column is-3"></div>
</div>

<script>
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'review[value]'
  });
</script>
