<%= form_for(current_account, url: account_choose_plan_url) do |account| %>
  <% if current_account.stripe_subscription_id.blank? %>
    <% if plan.id == 3 %>
      <% @plans.each do |plan| %>
        <label class="plan-box">
          <%= account.radio_button :plan_id, plan.id, data: { behavior: "submit-on-click" }, class:"radiohidden"%>
          <li><%= account.label "plan_id_#{plan.id}", plan.name %></li>
          <%= render "welcome" %>
        </label>
      <% end %>
    <% end %>
  <% else %>

      <% @plans.each do |plan| %>

        <% if current_account.over_limit_for?(plan) %>
          <% if plan.name == "Pro" %>
            <label class="plan-box">
              <%= account.radio_button :plan_id, plan.id, data: { name: plan.name, amount: plan.amount}, disabled:"disabled" %>
              <%= account.label "plan_id_#{plan.id}", plan.name %>
              <%= money(plan.amount) %>
            </label>
          <% elsif plan.name == "Starter" %>
            <label class="plan-box">
              <%= account.radio_button :plan_id, plan.id, data: { name: plan.name, amount: plan.amount}, disabled:"disabled" %>
              <%= account.label "plan_id_#{plan.id}", plan.name %>
              <%= money(plan.amount) %>
            </label>
          <% end %>
        <% else %>
          <% if plan.name == "Pro" %>
            <label class="plan-box">
              <%= account.radio_button :plan_id, plan.id, data: { name: plan.name, amount: plan.amount} %>
              <%= account.label "plan_id_#{plan.id}", plan.name %>
              <%= money(plan.amount) %> <br>
            </label>
          <% elsif plan.name == "Starter" %>
            <label class="plan-box">
              <%= account.radio_button :plan_id, plan.id, data: { name: plan.name, amount: plan.amount} %>
              <%= account.label "plan_id_#{plan.id}", plan.name %>
              <%= money(plan.amount) %> <br>
            </label>
          <% end %>
        <% end %>
      <% end %>


    <div id="payment-form"></div>

    <div class="pull-right">
      <%= account.submit "Submit", class: "btn btn-default", id: "checkout-btn" %>
      <%= link_to "Cancel", accounts_path(current_account), class: "btn btn-default" %>
    </div>
  <% end %>
<% end %>


<script>
  $(document).on("click", "[data-behavior=submit-on-click]", function() {
    $form = $(this).closest('form'); // select the form
    $form.submit(); // submit it
  });
</script>
