<%= form_for(current_account, url: account_choose_plan_url) do |account| %>

  <div class="row">
    <% if current_account.stripe_subscription_id.blank? %>

      <% @plans.each do |plan| %>
        <% if plan.id == 3 %>

          <label class="plan-box">

            <div class="card w-75 centered">
              <div class="card-body">
                <%= account.radio_button :plan_id, plan.id, data: { behavior: "submit-on-click" }, class:"radiohidden"%>

                <h5 class="card-title"><%= account.label "plan_id_#{plan.id}", plan.name %></h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Accept</a>

              </div>
            </div>
          </label>
        <% end %>
      <% end %>

    <% else %>

      <% @plans.each do |plan| %>
      <div class="col-md-4">
        <% if current_account.over_limit_for?(plan) %>
          <% if plan.name == "Pro" %>
            <label class="plan-box">
              <%= account.radio_button :plan_id, plan.id, data: { name: plan.name, amount: plan.amount}, disabled:"disabled" %>
              <%= account.label "plan_id_#{plan.id}", plan.name %>
              <%= money(plan.amount) %>
            </label>
          <% elsif plan.name == "Starter" %>
            <label class="plan-box">
              <%= account.radio_button :plan_id, plan.id, data: { name: plan.name, amount: plan.amount}, disabled:"disabled" %>
              <%= account.label "plan_id_#{plan.id}", plan.name %>
              <%= money(plan.amount) %>
            </label>
          <% end %>
        <% else %>
          <% if plan.name == "Pro" %>
            <div class="card">
              <label class="plan-box">
                <%= account.radio_button :plan_id, plan.id, data: { name: plan.name, amount: plan.amount} %>
                <%= account.label "plan_id_#{plan.id}", plan.name %>
                <br>
                <h6 class="font-weight-bold"><%= money(plan.amount) + " / mo" %></h6>
                <hr>
                <h6 class="font-weight-light">unlimited</h6>
              </label>
            </div>
          <% elsif plan.name == "Starter" %>
            <div class="card">
              <label class="plan-box">
                <%= account.radio_button :plan_id, plan.id, data: { name: plan.name, amount: plan.amount} %>
                <%= account.label "plan_id_#{plan.id}", plan.name %>
                <hr>
                <%= money(plan.amount) %> <br>
              </label>
            </div>
          <% end %>
        <% end %>
      </div>
      <% end %>

    <% end %>
  </div>

  <div class="text-center half-way-down-center">
    <%= account.submit "Submit", class: "btn btn-primary", id: "checkout-btn" %>
    <%= link_to "Cancel", accounts_path(current_account), class: "btn btn-danger" %>
  </div>

<% end %>

<div id="payment-form"></div>
<script>
  $(document).on("click", "[data-behavior=submit-on-click]", function() {
    $form = $(this).closest('form'); // select the form
    $form.submit(); // submit it
  });
</script>
