<div class="col-md-2">
<%= div_for detail do %>

  <div class="card paper-bg">
    <div class="card-body">
      <h6 class="card-title"><%= detail.name %></h6>

      <p class="card-text"><%= detail.description %></p>

      <%= link_to "edit", edit_account_project_detail_path(current_account, @project, detail), class: "card-link", remote: true %>
      <%= link_to "remove", account_project_detail_path(current_account, set_project, detail), class: "card-link", method: :delete, data: {confirm: "Are you sure?"}, remote: true %>
    </div>
  </div>


<% end %>
</div>
