
  <!-- <%= div_for detail do %>
    <div class="detail-box">
      <div class="row">
        <div class="pull-left">
          <p class="main-detail-name"><%= detail.name %></p>
          <p class="detail-description"><%= detail.description %></p>
        </div>
        <li class="dropdown pull-right">
          <a href="#"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <icon class="fa fa-ellipsis-h"></icon>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><%= link_to "Edit", edit_account_project_detail_path(current_account, set_project, detail), remote: true %></li>
            <li><%= link_to "remove", account_project_detail_path(current_account, set_project, detail), method: :delete, data: {confirm: "Are you sure?"}, remote: true %></li>
          </ul>
        </li>

      </div>
    </div>
  <% end %> -->
<%= div_for detail do %>
  <tr>

    <td><%= detail.name %></td>
    <td><%= detail.description %></td>
    <td>
      <%= link_to edit_account_project_detail_path(current_account, @project, detail), remote: true do %>
        <span class="fas fa-edit"></span>
      <% end %>
      <%= link_to account_project_detail_path(current_account, set_project, detail), method: :delete, data: {confirm: "Are you sure?"}, remote: true do %>
        <i class="fas fa-trash"></i>
      <% end %>
    </td>
  </tr>
<% end %>
