<tr>
    <td><h5 class="font-weight-bold"><%= detail.name %> </h5></td>
    <td><%= detail.description %></td>
    <td>
      <%= link_to edit_account_project_detail_path(current_account, @project, detail), class:"black-link",  remote: true do %>
        <span uk-icon="pencil" ></span>
      <% end %>
      <%= link_to account_project_detail_path(current_account, @project, detail), method: :delete, data: {confirm: "Are you sure?"}, remote: true do %>
        <span uk-icon="trash" ></span>
      <% end %>
    </td>

</tr>

<div id="detail-modal" class="modal"></div>

<!-- <button id="edit_detail_<%= detail.id %>" class="popover-toggle btn btn-sm btn-primary outline"  title="edit detail" data-placement="right" >Edit</button>
<hr>
<%= link_to "remove", account_project_detail_path(current_account, @project, detail), class:"btn btn-sm btn-danger outline", method: :delete, data: {confirm: "Are you sure?"}, remote: true %> -->
    <!-- <div class="is-hidden" id="edit-detail_<%= detail.id %>" >
      <%= form_for([current_account, @project, detail]) do |f| %>
        <% f.hidden_field :project_id %>
        <%= f.text_field :name, placeholder: 'name', class: 'input' %>
        <br>
        <%= f.text_field :description, placeholder: 'description', class: 'extra-input' %>
        <br>
        <%= f.button 'edit', class: 'btn btn-primary' %>
      <% end %>

      <script>
        $(function(){
          $('#edit_detail_<%= detail.id %>').popover({
            html : true,
            content: function() {
              return $('#edit-detail_<%= detail.id %>').html();
            }
          });
        });
      </script>
    </div> -->
