<div class="col-md-6">
<%= div_for detail do %>

  <div class="card">
    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h6 class="mb-1"><strong><%= detail.name %></strong></h6>
        <small><%= time_ago_in_words(detail.created_at) %> ago</small>
      </div>
      <p class="mb-1"><small><%= detail.description %>.</small></p>
      <small><%= link_to "edit", edit_account_project_detail_path(current_account, @project, detail), remote: true %></small>
      <small><%= link_to "remove", account_project_detail_path(current_account, set_project, detail), method: :delete, data: {confirm: "Are you sure?"}, remote: true %></small>

    </div>
  </div>


<% end %>
</div>
