
<div id="customdiv_<%= @detail.id %>">
    <%= form_for([current_account, @project, detail]) do |f| %>

    <% f.hidden_field :project_id %>
    <%= f.text_field :name, placeholder: 'name', class: 'input' %>
    <br>
    <%= f.text_field :description, placeholder: 'description', class: 'extra-input' %>
    <br>
    <br>
    <div >

      <%= f.button 'add', class: 'btn btn-success btn-sm' %>
    </div>
    <% end %>
</div>
