<p class="heading has-text-centered">Back to item <%= link_to @item.name, account_project_item_path(current_account, set_project, @item) %></p>

<div class="item has-text-centered">
  <p class="title "><%= @detail.name %></p>
  <p class="heading"><%= @detail.description %></p>
  <p class="heading"><%= link_to "Rate this", new_account_project_item_detail_review_path(current_account, set_project, @item, @detail) %></p>
</div>


<div class="row has-text-centered">
  <% @detail.reviews.each do |review| %>
    <div class="col-md-4">
      <p class="header"><%= review.description %></p>
      <div class="star-rating" data-score= <%= review.value %> ></div>
      <%= link_to "Edit", edit_account_project_item_detail_review_path(current_account, set_project, @item, @detail, review) %>
      <%= link_to "Delete", [current_account, set_project, @item, @detail, review], method: :delete, data: { confirm: "Are you sure you want to remove this?"} %>
    </div>
  <% end %>
</div>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
