<h5><%= @detail.name %></h5>
<%= @detail.description %>
<% @detail.reviews.each do |review| %>
  <p><%= review.description %></p>
  <p><%= review.value %></p>
  <p><%= link_to "Edit", edit_account_project_item_detail_review_path(current_account, set_project, @item, @detail, review) %></p>
<%= link_to "Delete", [current_account, set_project, @item, @detail, review], method: :delete, data: { confirm: "Are you sure you want to remove this?"} %> 
<% end %>
<p><%= link_to "Rate this", new_account_project_item_detail_review_path(current_account, set_project, @item, @detail) %></p>
