<div class="row text-center">
  <h5>Back to item <%= link_to @item.name, account_project_item_path(current_account, set_project, @item) %></h5>
  <h3><%= @detail.name %></h3>
  <h4><%= @detail.description %></h4>
  <%= link_to "Rate this", new_account_project_item_detail_review_path(current_account, set_project, @item, @detail), class:"btn btn-info" %>
</div>

<br>

<div class="row">
<% @detail.reviews.each do |review| %>
  <div class="col-md-4 col-xs-6">
    <p class="heading">"<%= review.description %>"</p>
    <div class="star-rating" data-score= <%= review.value %> ></div>
    <p class="heading"><%= review.user.email %></p>

    <p class='heading'><%= time_ago_in_words(review.created_at) %> ago</p>

    <%= link_to edit_account_project_item_detail_review_path(current_account, set_project, @item, @detail, review) do %>
      <span class="fa fa-pencil"></span>
    <% end %>

    <%= link_to [current_account, set_project, @item, @detail, review], method: :delete, data: { confirm: "Are you sure you want to remove this?"} do %>
      <span class="fa fa-trash"></span>
    <% end %>
  </div>
<% end %>
</div>
