<nav class="red darken-2">
  <div class="nav-wrapper container">
    <a href="#!" class="brand-logo">
      <%= link_to root_url do %>
        <strong>Yrsa</strong>
      <% end %>
    </a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <% if user_signed_in? %>
        <li><a href="sass.html">Signed in as <%= current_user.email %></a></li>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% if current_user.admin? %>
          | <%= link_to "Admin", admin_root_path %>
        <% end %>
      <% else %>
        <li><a href="sass.html"><%= link_to "Create a new account", new_account_path %></a></li>
        <li><a href="badges.html"><%= link_to "Sign in", new_user_session_path %></a></li>
      <% end %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
  </div>
</nav>

<script>
  $( document ).ready(function() {
    $(".button-collapse").sideNav();
  });
</script>
