<nav class="navbar navbar-default" style="list-style-type: none;">
  <div class="container-fluid">
    <div class="navbar-header">
      <% if user_signed_in? %>
        <li class="navbar-brand" href="#"><%= link_to "eagor", home_path %></li>
      <% else %>
        <li><%= link_to "sign in", new_user_session_path, class: "btn btn-default" %></li>
      <% end %>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">

      </ul>

      <ul class="nav navbar-nav navbar-center">
        <% if user_signed_in? %>
          <li> <%= link_to " home", root_url, class: "fa fa-home" %></li>
          <% if controller_name != "activities" %>
            <li><%= link_to " activity", activities_path, class: "fa fa-history" %></li>
          <% end %>
          <li><%= link_to " lookup", lookups_path, remote: true, class: "fa fa-search" %></li>
        <% end %>

      </ul>

      <ul class="nav navbar-nav navbar-right">

        <% if user_signed_in? %>
          <li class="dropdown" data-behavior="notifications">
            <a class="dropdown-toggle nav-link" type="button" data-behavior="notifications-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="fa fa-bell" data-behavior="unread-count"></span>
            </a>
            <div class="dropdown-menu"  data-behavior="notification-items">
              <% if current_user.notifications.unread.empty? %>
                No notifications
              <% end %>
            </div>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <icon class="fa fa-user"></icon>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.admin? %>
                <li><<%= link_to "Admin", admin_root_path %></li>
              <% end %>
              <li><a href="#"><%= current_user.email %></a></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>

        <% else %>
          <%= link_to "sign up", new_account_path, class:"btn btn-default" %>
        <% end %>
      </ul>

    </div>
  </div>
</nav>

<div id="product-modal" class="modal"></div>
