<!DOCTYPE html>
<html>
  <head>
    <title>Yrsa</title>
    <%= csrf_meta_tags %>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/simplex/bulmaswatch.min.css"> -->
  </head>
  <body>
    <%= render "layouts/navbar" %>
    <br>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="notification is-primary">
          <button class="delete"></button>
          <div class="alert alert-<%= key %>"><%= value %></div>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
