<!DOCTYPE html>
<html>
  <head>
    <title>Yrsa</title>
    <%= csrf_meta_tags %>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "jquery.barCharts" %>
    <%= javascript_include_tag "jquery.barChart.js", "data-turbolinks-track" => false %>
    <%= javascript_include_tag 'jquery.raty.js', "data-turbolinks-track": false %>
  </head>
  <body>
    <% unless controller_name == "home" %>
        <%= render "layouts/navbar2" %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
    <div id="push"></div>
    <div id="footer">


      <div class="container">
      </div>
    </div>

    <script>

      $('.barChart').barChart({
        type: 'horizontal',
        easing: 'swing',
        animationSpeed: 2000,
        rowClass: 'barChart__row',
        fillClass: 'barChart__barFill'
      });

      $('#star-rating').raty({
        path: '/assets/',
        scoreName: 'review[value]'
      });

      $('.star-rating').raty({
        path: '/assets/',
        readOnly: true,
        score: function() {
          return $(this).attr('data-score');
        }
      });

    </script>
  </body>
</html>
