<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= csrf_meta_tags %>
    <%= growlyflash_static_notices %>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "jquery.barCharts" %>
    <%= javascript_include_tag "jquery.barChart.js", "data-turbolinks-track" => false %>
    <%= javascript_include_tag 'jquery.raty.js', "data-turbolinks-track": false %>
  <link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>
  <body>
    <% if user_signed_in? %>
      <%= render "layouts/navbar" %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>

    <% if user_signed_in? %>
      <% unless controller_name == "home" %>
        <%= render "layouts/footer" %>
      <% end %>
    <% end %>

    <div id="product-modal" class="modal fade"></div>
    
    <div id="push"></div>

    <script>

      //star

      $('.star-rating').raty({
        path: '/assets/',
        readOnly: true,
        score: function() {
              return $(this).attr('data-score');
        }
      });


      //chart
      $('.barChart').barChart({
        type: 'horizontal',
        easing: 'swing',
        animationSpeed: 2000,
        rowClass: 'barChart__row',
        fillClass: 'barChart__barFill'
      });

      //tabs
      // Get the element with id="defaultOpen" and click on it
      document.getElementById("defaultOpen").click();

      function openCity(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
      }

      //modal
      $('.button').click(function(){
        var buttonId = $(this).attr('id');
        $('#modal-container').removeAttr('class').addClass(buttonId);
        $('body').addClass('modal-active');
      })

      $('#modal-container').click(function(){
        $(this).addClass('out');
        $('body').removeClass('modal-active');
      });

      //textarea auto adjust
      var textarea = document.querySelector('textarea');

      textarea.addEventListener('keydown', autosize);

      function autosize(){
        var el = this;
        setTimeout(function(){
          el.style.cssText = 'height:auto; padding:0';
          // for box-sizing other than "content-box" use:
          // el.style.cssText = '-moz-box-sizing:content-box';
          el.style.cssText = 'height:' + el.scrollHeight + 'px';
        },0);
      }


    </script>

  </body>
</html>
