<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= csrf_meta_tags %>
    <%= growlyflash_static_notices %>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.9/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.9/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.9/js/uikit-icons.min.js"></script>
    <%= stylesheet_link_tag "jquery.barCharts" %>
    <%= javascript_include_tag "jquery.barChart.js", "data-turbolinks-track" => false %>
    <%= javascript_include_tag 'jquery.raty.js', "data-turbolinks-track": false %>
    <%= javascript_include_tag 'lookups.js', "data-turbolinks-track": false %>

    <%= javascript_pack_tag "application" %>
  </head>
  <body>

    <%= render "layouts/navbar" %>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>

    </div>

    <% if user_signed_in? %>
      <% unless controller_name == "home" %>
        <%= render "layouts/footer" %>
      <% end %>
    <% end %>

    <div id="push"></div>

    <script>

      //star
      $('.star-rating').raty({
        path: '/assets/',
        readOnly: true,
        score: function() {
          return $(this).attr('data-score');
        }
      });

      //chart
      $('.barChart').barChart({
        type: 'horizontal',
        easing: 'swing',
        animationSpeed: 2000,
        rowClass: 'barChart__row',
        fillClass: 'barChart__barFill'
      });

      //modal
      $('.button').click(function(){
        var buttonId = $(this).attr('id');
        $('#modal-container').removeAttr('class').addClass(buttonId);
        $('body').addClass('modal-active');
      })

      $('#modal-container').click(function(){
        $(this).addClass('out');
        $('body').removeClass('modal-active');
      });


    </script>

  </body>
</html>
