<div class="row text-center">
  <div class="col-md-12">
    <h1><%= link_to @account.name, account_path(@account) %></h1>
  </div>
</div>

<div class="row text-center">
  <div class='boxy'>
    <h3>Edit account</h3>
    <br>
    <%= form_for @account do |account| %>
      <%= account.fields_for :owner do |owner| %>
        <div class="control">
          <%= owner.text_field :email, class: "input text-center", placeholder: "email " %>
        </div>
        <br>
        <div class="control">
          <%= owner.text_field :password, class: "input text-center", placeholder: "password" %>
        </div>
        <br>

      <% end %>

      <%= account.submit "update", class: "btn btn-info btn-lg" %>
      <%= link_to 'cancel', account_path(@account), class: "btn btn-info btn-lg" %>
    <% end %>
  </div>

</div>
