<div class="formy-back">
  <p class="formy-back-title"><%= link_to @account.name, root_path %></p>
</div>

<div class='formy'>
  <p class="formy-back-title">Edit account</p>
  <br>
  <%= form_for @account do |account| %>
    <%= account.text_field :name, placeholder: "enter account's name", class: "extra-input" %>
    <br>
    <%= account.fields_for :owner do |owner| %>
      <div class="control">
        <%= owner.text_field :email, class: "extra-input", placeholder: "email " %>
      </div>
      <br>
      <div class="control">
        <%= owner.text_field :password, class: "extra-input", placeholder: "password" %>
      </div>
      <br>

    <% end %>
    <div class="pull-right">
      <%= account.submit "update", class: "btn btn-success" %>
      <%= link_to 'cancel', accounts_path(@account), class: "btn btn-default" %>
    </div>
  <% end %>
</div>
