<% @title = "Edit account: " + @account.name %>
<br>
<h4 class="card-title">
  <strong>Edit Account</strong>
</h4>
<h6 >With supporting text below as a natural lead-in to additional content.</h6>

<p class="card-text">back to <%= link_to "Home", accounts_path(@accounts) %></p>

<hr>

<div class='formly'>
  <br>
  <%= form_for @account do |account| %>
    <%= account.text_field :name, placeholder: "enter account's name", class: "input" %>
    <br>
    <br>
    <%= account.fields_for :owner do |owner| %>
      <div class="control">
        <%= owner.text_field :email, class: "input", placeholder: "email " %>
      </div>
      <br>
      <div class="control">
        <%= owner.text_field :password, class: "input", placeholder: "password" %>
      </div>
      <br>

    <% end %>
    <div class="pull-right">
      <%= account.submit "update", class: "btn btn-success" %>
      <%= link_to 'cancel', accounts_path(@account), class: "btn btn-warning" %>
    </div>
  <% end %>
</div>
