<% @title= "aetomata - Home" %>

<br>
<% if user_signed_in? %>
  <% current_user.all_accounts.uniq.each do |account| %>


      <div class="row">
        <div class="col-md-6">

            <p class="account-name">
            <%= account.name %>
            <% if account.owner.id == current_user.id %>
              <% if !account.stripe_subscription_id.blank? %>
                <%= link_to "+ project", new_account_project_path(account), remote: true, class: "og-project-button btn btn-success" %>
              <% else %>
                <%= link_to "sign first", account_choose_plan_url(account) %>
              <% end %>
            <% end %>
            </p>

        </div>
        <div class="col-md-6">

            <% if account.stripe_subscription_id.present? %>
              <li class="popover-toggle">
                <a href="#"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <icon class="fa fa-bars"></icon>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><%= link_to "edit", edit_account_path(account) %></li>
                  <li><%= link_to "billing", account_billing_path(account) %></li>
                  <li> <%= link_to "plans", account_choose_plan_url(account) %></li>
                </ul>
              </li>
            <% end %>

        </div>
      </div>
      <br>

      <div class="row">
        <div class="new-project-button"></div>
        <br>

        <% account.projects.each do |project| %>
          <% if current_user.project_ids.include? project.id %>

            <div class="col-md-4">
              <%= link_to account_project_path(account, project), class: "account-project-box-link" do %>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title"><%= truncate(project.title, length: 20) %></h5>
                    <p class="card-text"><%= project.items.size %> items </p>
                    <br>
                    <%= link_to "Go", account_project_path(account, project), class: "btn btn-success btn-block" %>

                  </div>
                </div>
              <% end %>

            </div>

          <% end %>
        <% end %>
      </div>

  <% end %>
<% end %>
