<% @title= "aetomata - Home" %>

<br>

<% if user_signed_in? %>
  <% current_user.all_accounts.uniq.each do |account| %>

    <div class="jumbotron paper-bg">
      <% if account.stripe_subscription_id.present? %>
        <li class="popover-toggle text-right">
          <a href="#"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <icon class="fa fa-bars"></icon>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <% if account.owner.id == current_user.id %>
              <% if !account.stripe_subscription_id.blank? %>
                <p class="dropdown-item"><%= link_to "+ project", new_account_project_path(account), remote: true, class: "og-project-button btn btn-success btn-sm" %></p>
              <% else %>
                <p class="dropdown-item"> <%= link_to "sign first", account_choose_plan_url(account) %></p>
              <% end %>
            <% end %>
            <p class="dropdown-item"><%= link_to "edit", edit_account_path(account) %></p>
            <p class="dropdown-item"><%= link_to "billing", account_billing_path(account) %></p>
            <p class="dropdown-item"> <%= link_to "plans", account_choose_plan_url(account) %></p>
          </div>
        </li>
      <% end %>
      <h5><strong> <%= account.name %></strong></h5>
      <p>This is the account that you created, where you have the freedom to create projects, categories, invite people etc.</p>

      <hr class="my-4">

      <div class="row">
        <% account.projects.each do |project| %>
          <% if current_user.project_ids.include? project.id %>

            <div class="col-md-2">
              <%= link_to account_project_path(account, project), class: "account-project-box-link" do %>
                <div class="card">
                  <div class="card-body">
                    <p class="card-text"><strong><%= truncate(project.title, length: 20) %></strong></p>
                    <p class="card-text"><%= project.items.size %> items </p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <br>
    <% if account.owner.id != current_user.id %>
      <h6><strong>Below are the list of the accounts along with their projects, of which you're a member to</strong></h6>
      <hr>
    <% end %>

  <% end %>
<% end %>
