<% @title= "aetomata - Home" %>

<br>

<% if user_signed_in? %>
  <% current_user.all_accounts.uniq.each do |account| %>
    <div class="formy">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <p class="account-name pull-left"><%= account.name %>
            <% if account.owner.id == current_user.id %>
              <% if account.stripe_subscription_id.blank? %>
                <%= link_to account_choose_plan_url(account) do %>
                  <div class="box">
                    <h5 class="text-center">confirm first</h5>
                  </div>
                <% end %>
              <% else %>
                <%= link_to "+ project", new_account_project_path(account), remote: true, class: "og-project-button btn btn-success btn-lg" %>
              <% end %>
            <% end %>
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <% if account.stripe_subscription_id.present? %>
              <li class="dropdown pull-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <icon class="fa fa-bars"></icon>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><%= link_to "edit", edit_account_path(account) %></li>
                  <li><%= link_to "billing", account_billing_path(account) %></li>
                  <li> <%= link_to "plans", account_choose_plan_url(account) %></li>
                </ul>
              </li>
            <% end %>
          </div> 
        </div>
      </div>
      <div class="row">
        <div class="new-project-button"></div>
        <br>
        <div class="my-projects">
          <div class="row">
          <% account.projects.each do |project| %>
            <% if current_user.project_ids.include? project.id %>
                <%= link_to account_project_path(account, project), class: "account-project-box-link" do %>
                  <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="account-project-box">
                      <p class="account-project-box-title"><%= truncate(project.title, length: 10) %></p>
                      <hr>
                      <p class="account-project-box-sub"><%= project.items.size %> items </p>
                    </div>
                  </div>
              <% end %>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
