
<div class="container">
  <div class='col-md-offset-4 col-md-4 content'>
    <h2>Create a new account</h2>
    <%= form_for(@account) do |account| %>
      <div class="control">
        <%= account.text_field :name, placeholder: "enter account's name", class: "input is-medium" %>
      </div>
      <br>
      <%= account.fields_for :owner do |owner| %>
        <div class="control">
          <%= owner.text_field :email, class: "input", placeholder: "email" %>
        </div>
        <br>
        <div class="control">
          <%= owner.text_field :password, class: "input", placeholder: "password" %>
        </div>
        <br>
        <div class="control">
          <%= owner.text_field :password_confirmation, class: "input", placeholder: "confirm password" %>
        </div>
        <br>
      <% end %>

      <%= account.button "Next", class: "btn btn-info" %>
    <% end %>
  </div>
</div>
