<div class="way-down-center">
  <div class="form-signin way-down-center">
    <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
    <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a></p>
    <%= form_for(@account) do |account| %>
      <%= account.text_field :name, placeholder: "name", class: "form-control" %>
      <br>
      <%= account.fields_for :owner do |owner| %>
          <%= owner.text_field :email, class: "form-control", placeholder: "email " %>
          <%= owner.password_field :password, class: "form-control", placeholder: "password" %>
          <%= owner.password_field :password_confirmation, class: "form-control", placeholder: "confirm password" %>
      <% end %>

        <%= account.button "Hit it", class: "btn btn-success btn-block" %>
    <% end %>
  </div>
</div>
