<div class="row text-center">
  <small>account</small>
  <h1><strong><%= @account.name %></strong></h1>
</div>
<br>
<% if @account.owner.id == current_user.id %>

  <div class="row">
    <div class="col-md-3 col-xs-1 ">
    </div>
    <div class="col-md-2 col-xs-4">
      <%= link_to account_users_path(@account, @users) do %>
        <div class="account_box3">
          <%= image_tag 'guys.jpg', class: "img-responsive" %>
          <h4 class="text-center">users</h4>
        </div>
      <% end %>
    </div>

    <div class="col-xs-2"></div>

    <div class="col-md-2 col-xs-4">
      <%= link_to edit_account_path(@account) do %>
        <div class="account_box4">
          <%= image_tag 'fulton.jpg', class: "img-responsive" %>
          <h4 class="text-center">edit</h4>
        </div>
      <% end %>
    </div>
    <div class="col-md-3 col-xs-1 ">
    </div>
  </div>
<% end %>
  <!-- <div class="row text-center">
    <div class="col-md-1"></div>
    <div class="col-md-3 col-xs-3">
      <ul>
        <li><h1><%= projects_in_account %></h1></li>
        <li><h5><small>projects</small></h5></li>
      </ul>
    </div>
    <div class="col-md-3 col-xs-3">
      <ul>
        <li><h1><%= items_in_project %> </h1></li>
        <li><h5><small>items</small></h5></li>
      </ul>
    </div>
    <div class="col-md-3 col-xs-3">
      <ul>
        <li><h1><%= reviews_in_project %></h1></li>
        <li><h5><small>reviews</small></h5></li>
      </ul>
    </div>
    <div class="col-md-1"></div>
  </div> -->



<div class="row text-center ">
  <% if @account.owner.id == current_user.id %>
    <% if @account.stripe_subscription_id.blank? %>
      <%= link_to "you must confirm before creating your account", account_choose_plan_url(@account), class: "btn btn-default" %>
    <% else %>
      <%= link_to "add project", new_account_project_path(@account), class: "btn btn-default btn-sm" %>
    <% end %>
  <% end %>
  <br>
  <br>
  <% @account.projects.each do |project| %>
    <div class="col-md-4 col-xs-6">
      <%= link_to account_project_path(@account, project) do %>
        <div class="box text-center">
          <%= image_tag 'street.jpg', class: "img-responsive" %>
          <h2><%= project.title %></h2>
          <hr>
          <h4><%= project.description %></h4>
          <h6><%= time_ago_in_words(project.created_at) %> ago</h6>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<footer id="footer">
  <div class="icon-bar">
      <i class="fa fa"> </i>

    <a href="#"><i class="fa fa-"></i></a>
    <%= link_to root_url do %>
      <span class="fa fa-home"></span>
    <% end %>
    <a href="#"><i class="fa fa-"></i></a>

      <i class="fa fa"></i>

  </div>
  <div class="container">

  </div>
</footer>
