<div class="row">
  <h1 class="text-center"><strong><%= @account.name %></strong></h1>
</div>

<% if @account.owner.id == current_user.id %>
  <div class="row text-center">
    <div class="col-md-6 col-xs-6">
      <div class="text-center">
        <% if @account.stripe_subscription_id.blank? %>
          <%= link_to "confirm", account_choose_plan_url(@account), class: "btn btn-default" %>
        <% else %>
          <%= link_to "add project", new_account_project_path(@account), class: "btn btn-default btn-lg" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6 col-xs-6">
      <div class="text-center">
        <div class="dropdown-container">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <h1>play</h1>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "switch account", account_choose_plan_url(@account) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Billing Details", account_billing_path(@account) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "manage users", account_users_path(@account, @users) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Edit", edit_account_path(@account) %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

<br>

<div class="row text-center">
  <div class="col-md-1"></div>
  <div class="col-md-3 col-xs-3">
    <ul>
      <li><h1><%= projects_in_account %></h1></li>
      <li><h5><small>projects</small></h5></li>
    </ul>
  </div>
  <div class="col-md-3 col-xs-3">
    <ul>
      <li><h1><%= items_in_project %> </h1></li>
      <li><h5><small>items</small></h5></li>
    </ul>
  </div>
  <div class="col-md-3 col-xs-3">
    <ul>
      <li><h1><%= reviews_in_project %></h1></li>
      <li><h5><small>reviews</small></h5></li>
    </ul>
  </div>
  <div class="col-md-1"></div>
</div>
<% end %>

<div class="row ">
  <% @account.projects.each do |project| %>
    <div class="col-md-4 col-xs-6">
      <%= link_to account_project_path(@account, project) do %>
        <div class="box">
          <h4><%= project.title %></h4>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
