<h4><%= @account.name %></h4>
<% @account.projects.each do |project| %>
  <%= link_to project.title, account_project_path(@account, project) %>
<% end %>

  <li><%= link_to "Change Plan", account_choose_plan_path(@account) %></li>
  <li><%= link_to "Users", account_users_path(@account, @users) %></li>
  <li><%= link_to "Invitations", account_invitations_path(@account, @invitations) %></li>
  <h5><%= link_to "Projects", account_projects_path(@account, @projects) %>
