<div class="row text-center">
  <small>account</small>
  <h1><strong><%= @account.name %></strong></h1>
</div>
<br>
<div class="row">
  <% if @account.owner.id == current_user.id %>
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-12 col-xs-6">
          <%= link_to account_users_path(@account, @users) do %>
            <div class="account_box3">
              <%= image_tag 'guys.jpg', class: "img-responsive" %>
              <h4 class="text-center">users</h4>
            </div>
          <% end %>
        </div>

        <div class="col-md-12 col-xs-6">
          <%= link_to edit_account_path(@account) do %>
            <div class="account_box4">
              <%= image_tag 'fulton.jpg', class: "img-responsive" %>
              <h4 class="text-center">edit</h4>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  <% end %>

  <div class="col-md-1"></div>

  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
        <% if @account.owner.id == current_user.id %>
          <% if @account.stripe_subscription_id.blank? %>
            <%= link_to "you must confirm before creating your account", account_choose_plan_url(@account), class: "btn btn-warning btn-sm " %>
          <% else %>
            <%= link_to "add project", new_account_project_path(@account), remote: true, class: "btn btn-success btn-sm " %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="product-index">
        <%= render "projects/index" %>
      </div>
    </div>
  </div>
</div>

<div id="product-modal" class="modal fade"></div>

<footer id="footer">
  <div class="icon-bar">
      <i class="fa fa"> </i>

    <a href="#"><i class="fa fa-"></i></a>
    <%= link_to root_url do %>
      <span class="fa fa-home"></span>
    <% end %>
    <a href="#"><i class="fa fa-"></i></a>

      <i class="fa fa"></i>

  </div>
  <div class="container">

  </div>
</footer>


<!-- <div class="row text-center">
  <div class="col-md-1"></div>
  <div class="col-md-3 col-xs-3">
    <ul>
      <li><h1><%= projects_in_account %></h1></li>
      <li><h5><small>projects</small></h5></li>
    </ul>
  </div>
  <div class="col-md-3 col-xs-3">
    <ul>
      <li><h1><%= items_in_project %> </h1></li>
      <li><h5><small>items</small></h5></li>
    </ul>
  </div>
  <div class="col-md-3 col-xs-3">
    <ul>
      <li><h1><%= reviews_in_project %></h1></li>
      <li><h5><small>reviews</small></h5></li>
    </ul>
  </div>
  <div class="col-md-1"></div>
</div> -->
