<h1 class="title"><%= @account.name %></h1>
<br>
<div class="columns">
<% @account.projects.each do |project| %>
  <div class="column">
    <div class="card">
      <div class="card-content">
        <p class="title">
          <%= link_to project.title, account_project_path(@account, project) %>

        </p>
        <p class="subtitle">
          <%= project.description %>
        </p>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <span>
            <a href="#"><%= link_to "Edit", edit_account_project_path(@account, project) %></a>
          </span>
        </p>
        <p class="card-footer-item">
          <span>
            <a href="#"><%= link_to "Delete", [@account, project], method: :delete, data: { confirm: "Are you sure you want to remove this?"} %></a>
          </span>
        </p>
      </footer>
    </div>
  </div>
  <br>
<% end %>
</div>

<%= link_to "Users", account_users_path(@account, @users), class: "button is-primary is-outlined" %>
<%= link_to "New Project", new_account_project_path(@account), class: "button is-outlined" %>
<%= link_to "Invitations", account_invitations_path(@account, @invitations), class: "button is-primary" %>
